.footer-D{
  position: fixed;
  bottom: 0px;
  width: 100vw;
}
.seoju-D{
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  /* top:200px; */
  width: 400px;
  height: 50px;
  left: 6vw;

  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  text-align: left;
}


h3{

    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    line-height: 1.1em;
  text-align: left;
  margin: 5px 0px 8px 0px;
  }
  .h3_M{
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    margin-bottom: 18px;
    margin-top: -28px;
    line-height: 1.1em;
    padding: 5px 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: : 10px;
  }

  .h3_D{
    font-weight: 200;
    font-style: normal;
    font-size: 2em;


    line-height: 1.2em;

  }
.FEB{
  color: black;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-size: 1em;

}

.SP{
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #707070;
}

.explanation{
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  /* top:200px; */
  width: 400px;
  height: 50px;
  left: 6vw;
  top: 250px;

  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  text-align: left;
}


/* //////////////////////////////////////////////// */
@media (max-width: 670px) {
  #location{
    cursor: none;
  }
  .TEXTCOLOR,.aa4,.Nav4,.Nav4:hover{
        /* color: #f25e5c; */
  }
  #moblie-img{
    background-image: url("../img/book.png");
    background-size: cover;
    width: 310px;
    height: 310px;
    position: relative;
    top: 0px;
    left: 50%;
    margin-left: -155px;
    z-index: 100;
  }
  .Goldtext-M2{
    position: relative;
    top: 50px;
    width: 100vw;
    text-align: center;
    font-family: acumin-pro, sans-serif;
    display: inline-block;
  }


  .FEB{
    color: black;
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-size: 1em;

  }

  .SP{
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #707070;
  }


    .explanation-M2{

      padding-right: 80px;
      padding-left: 80px;
      font-weight: 200;
      font-style: normal;
      font-size: 1.2em;
      line-height: 1.6em;
      margin-bottom: 20px;
    }

    .seoju{
      /* width: 180px; */

      margin: 0px;
      padding: 0px;

      font-weight: 600;
      font-style: normal;
      font-size: 2em;
      margin-bottom: 25px;
      margin-top: -28px;
    }


    }
  .h3_2{
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    margin-bottom: 18px;
    margin-top: -28px;
    line-height: 1.1em;
    padding: 5px 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: : 10px;
  }
  .SFmood{
    color: black;
    font-style: italic;
  }

  .SFmood:hover{
    text-shadow: none;
    color: black;
    font-style: italic;
  }


}
