* {
    margin: 0px;
    padding: 0px;
}
body {
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

footer {
text-align: center;
background-color: #13d0f3;
padding: 15px;
font-family: acumin-pro, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 13px;
text-align: center;
color: white;
}

#desktop {
  width: 100vw;
  height:100vh;
  background-color: white;
}

/* Title */
#sfmood{
margin-top: 15px;
font-size: 70px;
text-align: center;
color: #13d0f3;
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;
text-decoration: none;
text-decoration-color: none;
font-style: normal;
}
/* menu_Nav */
.menu{
  top:85px;
  width: 700px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: calc(-700px/2);
font-size: 40px;
text-align: center;
font-family: acumin-pro-condensed, sans-serif;
font-weight: 700;
font-style: normal;
/* position: fixed; */
}


span{
  color:#13d0f3;
  padding-left:7px;
  padding-right:7px;
  text-decoration: none;
}

.map {
  color:#13d0f3;
  text-decoration: none;
}
.map:hover{

  color: white;
  text-shadow: 0 0 2px #23d0f3;
}
.map:hover{
  color: white;
  text-shadow: 0 0 2px #23d0f3;
}



/* Gold text for desk  */

.title-desktop{
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  /* top:200px; */
  width: 400px;
  height: 50px;
  left: 6vw;

  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  text-align: left;
}



.explanation{
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  /* top:200px; */
  width: 400px;
  height: 50px;
  left: 6vw;
  top: 250px;

  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  text-align: left;
}

/* img for desk */

.img-container{
  width: 100vw;
  /* background: red; */
  text-align: center;
}
.img-all{
  /* margin-bottom: 100px; */
  display: inline;
  position:relative;
}
.img2{
  display: inline;
}
.video1{
  /* margin-bottom: 100px; */
  display: inline;
  position:relative;
}


#ThreeImg{
  /* margin-top: 100px; */
  margin-bottom: 100px;
  display: inline;
  /* left: 600px; */
  position: relative;

}

/* Nav for desktop*/
#oneto9{
bottom: 7%;
margin: 0px;
padding: 0px;
position: fixed;
left: 6vw;
text-align: left;
z-index: 100;
display: inline;
font-family: acumin-pro, sans-serif;
line-height:0.9;
color: #707070;
text-transform: uppercase;
  font-size: .875em;
}





.aa{
  font-family: acumin-pro, sans-serif;
  font-weight: 100;

  color: #707070;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: inline;
  text-decoration: none;
}


.aa:hover{
  text-shadow: none;
  font-weight: bold;
  color: black;
  text-shadow: none;
}

.Nav{
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: normal;

  color: black;
  padding-top: -200px;
}
.Nav:hover{

  color: black;
  text-shadow: none;
}

.one{
  font-family: acumin-pro, sans-serif;
  font-weight: 100;

  color: #707070;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

}

.one .Nav {
  visibility: hidden;
  z-index: 1;
}

.one .Nav4 {
  visibility: hidden;
  z-index: 1;
}

.one:hover .Nav {
  visibility: visible;
  text-shadow: none;
}


.aa4{
  font-family: acumin-pro, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.Nav4{
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
    font-size: 1em;
  text-shadow: none;
}
.Nav4:hover{
  text-shadow: none;
}

.one:hover .Nav4 {
  visibility: visible;
  text-shadow: none;
}




/* caption for desktop*/

.img-cover{
  position: relative;
}
.caption{
  display: block;
  position: absolute;
  right: 12vw;
  bottom: 55%;
  text-align: left;
}

.cap_title{
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
    color: #0B0A0A;


}
.cap_text1, .cap_text2{
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: italic;
font-size: 13px;
  color: #0B0A0A;
}

.cap_text2:hover{
  color: #13d0f3;
}

#tablet,
#mobile{
    display: none;
}
