/* mobile */
@media (max-width: 670px) {

    body {
        background: white;
    }
    /* footer for mobile */

    #mobile {

      display: inline;
      width: 100vw;
      height:100vh;

      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
    }
/* Title and Navmenu for mobile */
    #Sfmood{
      margin-top: 15px;
      font-size: 60px;
      text-align: center;
      color: #13d0f3;
      /* skyblue */
      font-family: futura-pt-bold, sans-serif;
      font-weight: 700;
      font-style: normal;
    }


    span{
      color:#13d0f3;
      padding-left:7px;
      padding-right:7px;
      text-decoration: none;
    }

    a {
      color:#13d0f3;
      text-decoration: none;
    }
    a:hover{

      color: white;
      text-shadow: 0 0 2px #23d0f3;
    }
    span:hover{
      color: white;
      text-shadow: 0 0 2px #23d0f3;
    }

    .menu-M{
      top:75px;
      width: 700px;
      height: 50px;
      left: 50%;
      margin-left: calc(-700px/2);
    font-size: 30px;
    text-align: center;

    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    }

    .Goldtext-M{
      position: relative;
      top: 50px;
      width: 100vw;
      text-align: center;
      font-family: acumin-pro, sans-serif;
      color: #ef9366;
      display: inline-block;
    }

    h4{
      font-family: acumin-pro, sans-serif;
      font-weight: 200;
      font-size: 1em;
      color: #707070;
    }
    /* location-list */
    .location-list-button{
      font-size: 2em;
      margin-bottom: 40px;
    }
    #location{
      cursor: pointer;
    }
    #symbol{
      font-size: 0.9em;
      color: #707070;
    }
    #symbol:hover{
      color: #707070;
      text-shadow: none;
    }
    .location-list{
      position: fixed;
      left: 0;
      top: 0;

      width: 100vw;
      height: 100vh;
      background-color: rgba(255,255,255,0.9);
      z-index: 1000;
      text-transform: uppercase;
      font-size: 1.2em;
      line-height: 2.5em;
      color: black;
      font-weight: 500;

      display: none;
    }
    .list-hover{
      color: black;
    }
    .list-hover:hover{
      color: black;
      text-shadow: none;
    }
    .location-list-container{
      padding-top: 80px;
      cursor: pointer;
    }
    /* end location-list */
    /* Gold text for mobile*/

    .title-M{
      margin: 0px;
      padding: 0px;

      font-weight: 600;
      font-style: normal;
      font-size: 2em;
      margin-bottom: 18px;
      margin-top: -28px;
      /* gold */
    }


    .explanation-M{
      padding-right: 80px;
      padding-left: 80px;
      font-weight: 300;
      font-style: normal;
      font-size: 1.2em;
      line-height: 1.6em;
      margin-bottom: 20px;
    }

    /* imgs for mobile*/

    .img-container-M{
      margin-top: 100px;
      width: 100vw;
      /* background: red; */
      text-align: center;
      line-height: 2em;
    }
    .img-all-M{
      /* margin-bottom: 100px; */
      display: inline;
      position:relative;
    }


    .video1-M{
      /* margin-bottom: 100px; */
      display: inline;
      position:relative;
    }


    /* captoin for moblie*/



    .caption-M{
      padding: 30px;
      display: inline-block;
      margin-top: -44px;
      line-height: 1.5em;
      font-size: .9em;
    }

    .cap_title-M{
      font-family: acumin-pro, sans-serif;
      font-weight: 700;
      font-style: normal;

        color: #0B0A0A;
        /* padding-bottom: 3px; */

    }
    .cap_text1-M, .cap_text2-M{
      font-family: acumin-pro, sans-serif;
      font-weight: 200;
      font-style: italic;
      color: #0B0A0A;

    }

    .cap_text2-M:hover{
      color: #13d0f3;
    }

    #desktop,
    #tablet{
        display: none;
    }
}

.loc-container,.loc,.loc-9{
  font-size: 0;
  opacity: 0;
  display: none;
}
