/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
  background: #F2EBDF;
  font-family: 'Montserrat', sans-serif;
}
span{
  position: relative;
  z-index: 10;
}


/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 200px;
	width: 400px;
	background: #F2E0DF;

	margin: 10px auto;

	box-sizing: border-box;
	transition: all 500ms ease;
	cursor: pointer;
}

/* example element 1 */

#element-1:hover {
	transform: rotate(90deg) scale(1.5);
	opacity: .3;
}

#element-1:active {
	background: pink;
	opacity: 1;
}

/* example element 2 */

#element-2::after {
	content: 'this is added after the content inside the element';
	color: white;
}


#element-2:hover::after {
	content: 'this text changes on hover';
	color: red;
}

/* example element 3 is changed only via js */

/* example element 4 */
#element-4.gradient-background {
	background: linear-gradient(blue, pink);
	color: transparent;
}

/* example element 5 */
.circle {
	border-radius: 125px;
}

/* example element 6 */
#element-6{
	transition: none;
}






#element1{
  font-size: 1em;
  width: 400px;
  height: 200px;

  webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

#element1:hover {
  width: 300px;
  height: 300px;
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

#element2{
  width: 400px;
  height: 200px;

  position: relative;
}

#element3{
  width: 400px;
  height: 200px;
  background-color: skyblue;
  position: relative;
}
#element3-kid{
  top: 40px;
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  z-index: 9999;
}

#element4{
  width: 400px;
  height: 200px;
  background-color: skyblue;
  position: relative;
  /* z-index: -9; */
}

#element4 .circle {
  width:200px;
  height:200px;
  position: absolute;

  left:10px;
  background-color: skyblue;
  border-radius: 50%;
  z-index: 1;
  top: -100;
}
#element4 span {
  position: relative;
  z-index: 10;
}


#element5{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;

}


.heart1 {
  background-color: red;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  margin:   auto 0 ;
  margin-left: -70px;
}
.heart1::before,
.heart1::after {
  content: '';
  background-color: red;
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
}
.heart1::before {
  top: -15px;
  left: 0;
}
.heart1::after {
  left: 15px;
}
.heart1:hover,
.heart1:hover::before,
.heart1:hover::after {
  background-color: maroon;
}



#element6{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
}

.heart2 {
  position: absolute;
    align-items: center;
    top: 40px;
    left: 150px;
    width: 200px;
    height: 200px;
    background: red;
    transform: rotate(45deg);
    box-shadow: 30px 30px 200px rgba(0,0,0,.5);
    animation: bit 1s linear infinite;
    transform: scale(1);
    opacity: 0;
    transition: opacity 200ms ease-out;
    animation-play-state: paused;
}
.heartVisible .heart2 {
  opacity: 1;
  animation-play-state: running;
}
@keyframes bit{
  0%
  {
    transform: rotate(45deg) scale(.6);
  }
  20%
  {
    transform: rotate(45deg) scale(.4);
  }
  40%
  {
    transform: rotate(45deg) scale(.8);
  }
  60%
  {
    transform: rotate(45deg) scale(.6);
  }
  80%
  {
    transform: rotate(45deg) scale(.9);
  }
  100%
  {
    transform: rotate(45deg) scale(.6);
  }
}

.heart2:before{
  content:'';
  position: absolute;
  width: 200px;
  height: 100px;
  background: red;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  top: -100px;
}

.heart2:after{
  content:'';
  position: absolute;
  width: 100px;
  height: 200px;
  background: red;
 left: -100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
#element7{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
}

#element7:hover{
  width: 150px;
	height: 150px;

  text-decoration: none;
	color: black;
	font-size: 0.7em;
	font-weight: 00;

	display: inline-block;
	margin-bottom: 30px;
	vertical-align: middle;
	align-items: center;
	background: #FDEB5F;


  position: relative;
  display: flex;


animation: shakeprss 400ms infinite;
transform-origin: 50% 50%;
}
@keyframes shakeprss {
0%{
  transform: rotate(0deg);
}
25%{
  transform: rotate(-10deg);
}
75%{
  transform: rotate(10deg);
}
100%{
  transform: rotate(0deg);
}
}

#element8{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
}

#element8:hover{
  width: 150px;
	height: 150px;
  vertical-align: middle;
  align-items: center;
  background: #FDEB5F;
  text-decoration: none;
	color: black;
	font-size: 0.7em;

	align-items: center;

	animation: bigsmall 400ms infinite;
	transform-origin: 50% 50%;
}
@keyframes bigsmall {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(1);
	}
}

#element9{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
  transition: width .5s;
}

#element9:hover {
  width: 100vw;
}

#element10{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
}


/* $bodycolor: #FEFFEA;
$fontcolor: #FF5D6E;
$buttoncolor: #2EB872;
$itemsize: 200px;
$itemsize2: 100px;
$newcolor: #FF5D6E;

 */



.circle{
   margin-left: calc(50% - 100px);
   margin-top: 100px;
   position: absolute;
   height: 200px;
   width: 200px;
   border-radius: 500%;
   transform-origin: 50% 50%;
 }

.innercircle{
   background-color: #2EB872;
   transform: scale(0.8)
 }

.outcircle{
   box-shadow: inset 0 0 0px 10px #2EB872;
   height: 200px;
   width: 200px;
 }

.hide{
   display: none;
 }




.animation3{
   z-index: 1;
   background-color: #FF5D6E;
   animation: scale 2s infinite;
 }

.animation4{
   z-index: 0;
   animation: scale 2s infinite;
   animation-delay: 1s;
 }

.animation31{
   animation-name: color 2s infinite;
 }

#x{
   animation-name: colora 2s infinite;
 }

#y{
   animation-name: colorb 2s infinite;
   animation-delay: 1s;
}
@keyframes scale{
   0%
      transform: scale(0);
   50%
      transform: scale(0.8);
   100%
      transform: scale(0);
}
@keyframes color{
   0%
      box-shadow: inset 0 0 0px 10px #2EB872;
   50%
      box-shadow: inset 0 0 0px 10px #FF5D6E;
   100%
      box-shadow: inset 0 0 0px 10px #2EB872;
}
@keyframes colora{
   0%
      background-color: #2EB872;
      transform: scale(0);
   50%
      background-color: #FF5D6E;
      transform: scale(0.8);
   100%
      background-color: #2EB872;
      transform: scale(0);
}
@keyframes colorb{
   0%
      background-color: #FF5D6E;
      transform: scale(0);
   50%
      background-color: #2EB872;
      transform: scale(0.8);
   100%
      background-color: #FF5D6E;
      transform: scale(0);
}
.button1{
   margin-left: calc(-25% - 100px);
 }

.button2

#element-11{
  transition: none;
}

/* 12 */

#element-12{

	position: relative;
}

#element-12:hover {
background: #F2EBDF;

}
#element-12:hover .kid12-1{
  transform-origin: 0px 200px;
  	transform: scaleX(0);
    transition-duration: 400ms;

}
/* purple */
#element-12:hover .kid12-2{
  transform-origin: 200px 0px;
    transform: scaleX(0);
      transition-duration: 200ms;
      transition-delay: 400ms;
}


@keyframes scaleXprss {
	0%{
		transform: scaleX(0);
	}
	100%{
		transform: scaleX(1);
	}
}

.kid12-1 {
  position: absolute;

  width: 200px;
  height: 200px;
  background: #F2E0DF;
	/* border-top-right-radius:40px; */
	right: 0px;
	top: 0px;
	transition: transform 400ms;
	transform-origin:0px 40px;
}


.kid12-2 {
  position: absolute;
    background: #F2E0DF;
  width: 200px;
  height: 200px;
	/* border-top-left-radius:40px; */
	left: 0px;
	top: 0px;
	transition: transform 400ms;
	transition-delay: 200ms;
	transform-origin:0px 80px;
}


#element-13{
	position: relative;
}
#element-13:hover .circle131  {
  transform: scale(0);
}

#element-13:hover .circle132  {
  transform: scale(1);
}


.circle131 {
  position: absolute;
  width: 200px;
  height: 200px;
border-radius:200px;
background: red;
  right: 0px;
	top: 0px;

	transition: transform 150ms;
	transition-delay: 150ms;
	transform-origin: 50%;
}

.circle132 {
  position: absolute;

  background: blue;
  width: 200px;
	height: 200px;
  right: 0px;
	top: 0px;
	border-radius: 200px;
	z-index: 1;
	transform-origin: 50% 50%;
	transform: scale(0);
  transition: transform 150ms;
	transition-delay: 150ms;
}

#element-14:hover {
    animation: flash 0.7s infinite;
}

@keyframes flash {

    0% {
        background: #ec4cec;
    }

    50% {
        background: #ffbd42
    }

    100% {
        background: rgb(114, 170, 255)
    }
}
#element-15:hover{

animation: flicker 2s linear both;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


#element-16:hover .kid16{

animation: rrr .5s ease-out both;
}


@keyframes rrr {
  0% {
    transform: rotate(-540deg) scale(0);

    opacity: 0;
  }
  100% {

            transform: rotate(0) scale(1);
    opacity: 1;
  }
}

.kid16{
  width: 100px;
  height: 100px;
  background: red;
}

/* 17 */
#element-17:hover .kid17{

 animation: roll 0.6s infinite;
}

@keyframes roll{
  0% {
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.kid17{
  width: 100px;
  height: 100px;
  background: red;
}

/* 18 */

#element-18:hover .kid18{

animation: bounce 1.1s both;
}


@keyframes bounce {
  0% {
            transform: translateY(-500px);
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
            transform: translateY(0);
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
            transform: translateY(-65px);
            animation-timing-function: ease-in;
  }
  72% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  81% {
            transform: translateY(-28px);
            animation-timing-function: ease-in;
  }
  90% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  95% {
            transform: translateY(-8px);
            animation-timing-function: ease-in;
  }
  100% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
}

.kid18{

  margin-top: 100px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: red;
}

/* 19 */
#element19 {
  padding: 0;
}

#element-19:hover .kid19{

 animation: bounce2 1.1s both;
}


@keyframes bounce2 {
  0% {
            transform: scale(7);
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
            transform: scale(1);
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
            transform: scale(1.5);
            animation-timing-function: ease-in;
  }
  72% {
            transform: scale(1);
            animation-timing-function: ease-out;
  }
  81% {
            transform: scale(1.24);
            animation-timing-function: ease-in;
  }
  89% {
            transform: scale(1);
            animation-timing-function: ease-out;
  }
  95% {
            transform: scale(1.04);
            animation-timing-function: ease-in;
  }
  100% {
            transform: scale(1);
            animation-timing-function: ease-out;
  }
}


.kid19{

  width: 400px;
  height: 200px;
  background: #F2E0DF;
  	position: absolute;
}


#element-19 span{
  position: absolute;
  z-index: 10;
padding: 0;
margin: 0;
}
