/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #51E2C1;
  /* background: #F2EBDF; */
  font-family: 'Montserrat', sans-serif;
}

span{
	font-family: 'Montserrat', sans-serif;
  position: absolute;
padding: 0;
margin: 0;
  z-index: 10;
}

/* -Color */
/*
#F2EB8D; Background
#F2EB8D; Item Yellow
#A60815 red
*/

/* container */

.container {
	position: relative;
	background: #51E2C1;
}

/* items */

.item {
	height: 200px;
	width: 400px;
	background:#F2EB8D;

	margin: 10px auto;

	box-sizing: border-box;
	transition: all 500ms ease;
	cursor: pointer;
}



/* -1 */

#element1{
  width: 400px;
  height: 200px;
  transition: width 1s, height 1s, transform 1s;
}

#element1:hover {

  width: 500px;
  height: 500px;
  transform: rotate(500deg);
	animation: flash 0.7s infinite;
}

@keyframes flash {

	0% {
			background: #ec4cec;
	}

	50% {
			background: #ffbd42
	}

	100% {
			background: rgb(114, 170, 255)
	}
}



/* -2 */
#element2{
  width: 400px;
  height: 200px;
  position: relative;
}

#element3{
  width: 400px;
  height: 200px;
  position: relative;
}
#element3-kid{
  top: 40px;
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  z-index: 9999;
}

/* -4 */
#element-4{
  width: 400px;
  height: 200px;
  position: relative;
  /* z-index: -9; */
}

.circle4 {
  width:140px;
  height:140px;
  position: absolute;
top: 30px;
  left:130px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;

}

/* -5 */

#element5{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;

}

.little{
	width: 100px;
	left: 150px;
	top: 50px;
	font-size: .9em;
	color: red;
	text-align: center;

}
.heart1 {
  background-color: red;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  margin:   auto 0 ;
  margin-left: 165px;
}
.heart1::before,
.heart1::after {
  content: '';
  background-color: red;
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
}
.heart1::before {
  top: -15px;
  left: 0;
}
.heart1::after {
  left: 15px;
}
.heart1:hover,
.heart1:hover::before,
.heart1:hover::after {
  background-color: maroon;
}



#element6{

  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
}
#element6 span{
  position: absolute;
  z-index: 10;
padding: 0;
margin: 0;
}
.heart2Wrap{
    transform: scale(.6);

}
.heart2 {

  position: absolute;
    align-items: center;
    top: 0px;
    left: 230px;
    width: 200px;
    height: 200px;
    background: red;
    transform: rotate(45deg);
    box-shadow: 30px 30px 200px rgba(0,0,0,.5);
    animation: bit 1s linear infinite;
    transform: scale(1);
    opacity: 0;
    transition: opacity 200ms ease-out;
    animation-play-state: paused;
}
.heartVisible .heart2 {
  opacity: 1;
  animation-play-state: running;
}
@keyframes bit{
  0%
  {
    transform: rotate(45deg) scale(.6);
  }
  20%
  {
    transform: rotate(45deg) scale(.4);
  }
  40%
  {
    transform: rotate(45deg) scale(.8);
  }
  60%
  {
    transform: rotate(45deg) scale(.6);
  }
  80%
  {
    transform: rotate(45deg) scale(.9);
  }
  100%
  {
    transform: rotate(45deg) scale(.6);
  }
}

.heart2:before{
  content:'';
  position: absolute;
  width: 200px;
  height: 100px;

  background: red;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  top: -100px;
}

.heart2:after{
  content:'';
  position: absolute;
  width: 100px;
  height: 200px;
  background: red;
 left: -100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
#element7{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
}

#element7:hover{
	background: transparent;






}

#element7:hover .kid7{
  width: 150px;
	height: 150px;
	position: absolute;
  left: 125px;
	top: 25px;
  text-decoration: none;
	color: black;
	font-size: 0.7em;
	font-weight: 00;

	display: inline-block;
	margin-bottom: 30px;
	vertical-align: middle;
	align-items: center;
	background: #FDEB5F;
	/* yellow */


  position: relative;
  display: flex;


animation: shakeprss 400ms infinite;
transform-origin: 50% 50%;
}
@keyframes shakeprss {
0%{
  transform: rotate(0deg);
}
25%{
  transform: rotate(-10deg);
}
75%{
  transform: rotate(10deg);
}
100%{
  transform: rotate(0deg);
}
}

#element8{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
}

#element8:hover{
  width: 150px;
	height: 150px;
  vertical-align: middle;
  align-items: center;
  background: #FDEB5F;
  /* yellow */
  text-decoration: none;
	color: black;
	font-size: 0.7em;

	align-items: center;

	animation: bigsmall 400ms infinite;
	transform-origin: 50% 50%;
}
@keyframes bigsmall {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(1);
	}
}

#element9{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
  transition: width .5s;
}

#element9:hover {
  width: 100vw;
}
/* -10 */
#element10{
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  height: 200px;
}


.circle10{
	transition: width 1s, height 1s, transform 1s;

	margin-top:50px;
   margin-left: calc(50% - 50px);
   /* margin-top: 100px; */
   position: absolute;
   height: 100px;
   width: 100px;
   border-radius: 100%;
   transform-origin: 50% 50%;
	transform: rotate(500deg);
 }




.innercircle10{
		transform: rotate(580deg);
   background-color: #2EB872;
   transform: scale(0.8)
 }



.outcircle10{
		transform: rotate(500deg);
   box-shadow: inset 0 0 0px 0px #2EB872;
   height: 100px;
   width: 100px;
 }
.circir10:hover .outcircle10{

	transform: rotate(500deg);
	 height: 100px;
   width: 100px;
 	 	 /* background-color:white; */
		 box-shadow: inset 0 0 0px 0px white;
		 /* z-index: 99; */
		 position: absolute;
		 transform: scale(.05);
		 border-radius: 1%;
		 animation: flash 0.7s infinite;
 }

 @keyframes flash {

     0% {
         background: #ec4cec;
     }

     50% {
         background: #ffbd42
     }

     100% {
         background: rgb(114, 170, 255)
     }
  }
	.circir10:hover .innercircle10{

		transform: rotate(580deg);
		 height: 100px;
		 width: 100px;
			 /* background-color:white; */

			 /* z-index: 99; */
			 position: absolute;
			 /* transform: scale(.2); */
			 border-radius: 1%;
	 }


.hide{
   display: none;
 }





.animation3{

transform:rotate(680deg);
   z-index: 1;
   background-color: #FF5D6E;
   animation: scale 2s infinite;
	 animation: flash 0.7s infinite;
}

@keyframes flash {

	 0% {
			 background: #ec4cec;
	 }

	 50% {
			 background: #ffbd42
	 }

	 100% {
			 background: rgb(114, 170, 255)
	 }
}
 }

.animation4{
	transform:rotate(600deg);
   z-index: 0;
   animation: scale 2s infinite;
   animation-delay: 1s;
 }

.animation31{
	transform:rotate(600deg);
   animation-name: color 2s infinite;
 }

#x{transform:rotate(600deg);
   animation-name: colora 2s infinite;
 }

#y{transform:rotate(600deg);
   animation-name: colorb 2s infinite;
   animation-delay: 1s;
}
@keyframes scale{
   0%
      transform: scale(0);
			}
   50%
      transform: scale(0.8);
			}
   100%
	 transform:rotate(600deg);
      transform: scale(0);
		}
}

@keyframes color{
   0%
      box-shadow: inset 0 0 0px 10px #2EB872;
transform:rotate(600deg);
			}
   50%
      box-shadow: inset 0 0 0px 10px #FF5D6E;
			}
   100%
      box-shadow: inset 0 0 0px 10px #2EB872;
			}
}
@keyframes colora{
   0%
      background-color: #2EB872;
      transform: scale(0);
		}
   50%
      background-color: #FF5D6E;
      transform: scale(0.8);
   100%
 }
      background-color: #2EB872;
      transform: scale(0);
		}
}




@keyframes colorb{
   0%
      background-color: #FF5D6E;
      transform: scale(0);
			}
   50%
      background-color: #2EB872;
      transform: scale(0.8);
			}
   100%
      background-color: #FF5D6E;
      transform: scale(0);
			}
}
.button1{
   margin-left: calc(-25% - 100px)
 }
.button2{}


.button3{
   margin-left: calc(25% + 100px)
}
#element-11{

  transition: none;
}

/* 12 */

#element-12{

	position: relative;
}

#element-12:hover {
background: #51E2C1;

}
#element-12:hover .kid12-1{
  transform-origin: 0px 200px;
  	transform: scaleX(0);
    transition-duration: 400ms;

}
/* purple */
#element-12:hover .kid12-2{
  transform-origin: 200px 0px;
    transform: scaleX(0);
      transition-duration: 200ms;
      transition-delay: 400ms;
}


@keyframes scaleXprss {
	0%{
		transform: scaleX(0);
	}
	100%{
		transform: scaleX(1);
	}
}

.kid12-1 {
  position: absolute;

  width: 200px;
  height: 200px;
  	background: #F2EB8D;
	/* border-top-right-radius:40px; */
	right: 0px;
	top: 0px;
	transition: transform 400ms;
	transform-origin:0px 40px;
}


.kid12-2 {
  position: absolute;
  	background: #F2EB8D;
  width: 200px;
  height: 200px;
	/* border-top-left-radius:40px; */
	left: 0px;
	top: 0px;
	transition: transform 400ms;
	transition-delay: 200ms;
	transform-origin:0px 80px;
}

/* 13 */
#element-13{
	position: relative;
}
#circleHover {
	left: 140px;
	top: 40px;
  position: absolute;
  background: white;
  width: 120px;
	height: 120px;
	border-radius:150px;
}
#circleHover:hover .circle13-1  {
  transform: scale(0);
}

#circleHover:hover .circle13-2  {
  transform: scale(1);
}

.circle13-1 {
	left: 10px;
	top: 10px;
position: absolute;
width: 100px;
height: 100px;
border-radius:100px;
background: #FDEB5F;

transition:150ms;
transform-origin: 50%;
}
@keyframes redred {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
}
.circle13-2 {
	left: 10px;
	top: 10px;
  position: absolute;
  background: red;
  width: 100px;
	height: 100px;
	border-radius:100px;
	transform-origin: 50% 50%;
	transform: scale(0);
  transition: transform 150ms;
}

/* 14 */
#element-14:hover {
	width: 200px;
	height: 200px;
    animation: flash 0.7s infinite;
}

@keyframes flash {

    0% {
        background: #ec4cec;
    }

    50% {
        background: #ffbd42
    }

    100% {
        background: rgb(114, 170, 255)
    }
}

#element-15 {
    overflow: scroll;
		scroll-behavior: smooth;

    /* size: 50%; */
}
.kid15{
	width: 400px;
	height: 200px;
	background: #F2EB8D;
}

#element-15:hover .kid15{
	display: none;

}


/* #element-15:hover{
 background: #FDEB5F;

animation: flicker 1.5s linear both;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} */


#element-16:hover .kid16{

animation: rrr .5s ease-out both;
}


@keyframes rrr {
  0% {
    transform: rotate(-540deg) scale(0);

    opacity: 0;
  }
  100% {
		border-radius: 50%;
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}

.kid16{
	margin-left: 150px;
		margin-top: 25px;
  width: 100px;
  height: 100px;
  background: red;
}

/* 17 */
#element-17:hover .kid17{

 animation: roll 0.6s infinite;
}

@keyframes roll{
  0% {
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.kid17{
	margin-left: 150px;
		margin-top: 25px;

  width: 100px;
  height: 100px;

  background: red;
}

/* 18 */

#element-18:hover .kid18{

animation: bounce 1.1s both;
}


@keyframes bounce {
  0% {
            transform: translateY(-500px);
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
            transform: translateY(0);
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
            transform: translateY(-65px);
            animation-timing-function: ease-in;
  }
  72% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  81% {
            transform: translateY(-28px);
            animation-timing-function: ease-in;
  }
  90% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  95% {
            transform: translateY(-8px);
            animation-timing-function: ease-in;
  }
  100% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
}

.kid18{
	margin-left: 190px;
		margin-top: 25px;
  margin-top: 100px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: red;
}

/* 19 */
#element19 {
  padding: 0;
}

#element-19:hover .kid19{

 animation: bounce2 1.1s both;
}


@keyframes bounce2 {
  0% {
            transform: scale(7);
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
            transform: scale(1);
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
            transform: scale(1.5);
            animation-timing-function: ease-in;
  }
  72% {
            transform: scale(1);
            animation-timing-function: ease-out;
  }
  81% {
            transform: scale(1.24);
            animation-timing-function: ease-in;
  }
  89% {
            transform: scale(1);
            animation-timing-function: ease-out;
  }
  95% {
            transform: scale(1.04);
            animation-timing-function: ease-in;
  }
  100% {
            transform: scale(1);
            animation-timing-function: ease-out;
  }
}


.kid19{

  width: 400px;
  height: 200px;
  background: #F2EB8D;
  	position: absolute;
}


#element-19 span{
  position: absolute;
  z-index: 10;
padding: 0;
margin: 0;
}



#element-20:hover .kid20 {
  animation: shadowpop 0.5s cubic-bezier(0.1, 0.5, 0.5, 0.1) both;
}

@keyframes shadowpop {
  0% {
            transform: translateY(0);
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
            transform: translateY(-50px);
            transform-origin: 50% 50%;
    text-shadow: 0 7px 0 #555555, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.kid20{
	z-index: 1111;
	position: relative;
	padding: 0;
	margin: 0;
	width: 100px;
	height: 100px;
  font-weight: 900;
  font-size: 5em;
	text-align:center;
  color: white;
	top: 50px;
	left: 150px;
}
#element-20 span{
	position: absolute;
}

/* 21 */
#element-21:hover .kid21 {
  animation: shadowpop2 0.1s both;

}

@keyframes shadowpop2 {
  0% {
    text-shadow: 0 0 #555555;
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 8px 8px #555555, 10px 10px #555555, 12px 12px #555555, 14px 14px #555555, 16px 16px #555555, 18px 18px #555555, 20px 20px #555555, 22px 22px #555555;
            transform: translateX(-8px) translateY(-8px);
  }
}

.kid21{
	z-index: 1111;
	position: relative;
	padding: 0;
	margin: 0;
	width: 200px;
	height: 100px;
  font-weight: 900;
  font-size: 5em;
	text-align:center;
  color: white;
	top: 50px;
	left: 100px;
}

/* 22 */
#element-22:hover .kid22 {
  animation: bye 1.2s cubic-bezier(0.5, 0.08, 0.5, 0.5) both;
}

@keyframes bye {
  0% {
            filter: blur(0.01);
  }
  100% {
            filter: blur(12px) opacity(0%);
  }
}


.kid22{
  font-weight: 900;
  font-size: 3em;
  margin-top: 50px;
  text-align:center;
  color: white;
}

#element-23:hover {
	        animation: out 0.5s cubic-bezier(0.5, 0.08, 0.7, 0.5) both;
}

@keyframes out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

/* 24 */
#element-24:hover {

	animation: inin .3s  cubic-bezier(0.5, 0.08, 0.06, 0.5) both ;
}

@keyframes inin {
  0% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    opacity: 1;
  }
  80% {
      transform: rotate(540deg);
        transform-origin: 50% 50%;
    opacity: 1;
  }
	90% {
			width: 200px;

	}
	100% {
			opacity: 0;

	}
}

/* #element-24:hover .kid24{
	position: absolute;
	width: 400px;
	height: 200px;
	    transform: scaleY(1);
}



.kid24{
	  position: absolute;
	  background: blue;
	  width: 400px;
		height: 200px;

		z-index: 1;
		transform-origin: 0% 0%;
		transform: scale(0);
	  transition: transform 100ms;
		/* transition-delay: 550ms; */
	/* } */




/* 25 */

#element-25:hover {
  animation: puff 1s cubic-bezier(0.0, 0.8, 0.4, 1) both;
}

@keyframes puff {
  0% {
            transform: scale(1);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
		background: #51E2C1;
            transform: scale(2);
            filter: blur(2px);
    opacity: 0;
  }
}

#element-26:hover .kid26{
  animation: backchange 2.3s linear infinite alternate both;
}

@keyframes backchange {

  0% {    border-radius:53% 65% 50% 50%/60% 46% 59% 39%;
		background: #01dcea;

}
  10% {    border-radius:53% 65% 50% 50%/60% 46% 59% 39%;

    background: #11dcea;
  }
	50% {    border-radius:59% 63% 51% 52%/63% 41% 51% 41%;

		background: #19dcea;
	}
  100% {    border-radius:49% 13% 21% 42%/33% 41% 31% 41%;

    background: #b22cff;
  }
}

.kid26{
  /* position: absolute; */
  align-items: center;
	margin-left: 120px;
  margin-top: 40px;
  display: inline-block;
    width: 150px;
    height: 130px;
    background-color: white;
    border-radius:53% 65% 50% 50%/60% 46% 59% 39%;
    transform: rotate(-16deg);
}

/* 27 */

#element-27:hover .kid27{
	animation: slide 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide {
  0% {
            transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform-origin: 50% 100%;
    opacity: 0;

  }
  100% {
            transform: translateY(0) rotateX(0) scale(1);
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

/* w2 */

#element-27:hover .kid27-2{
	animation: slide2 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide2 {
	0% {
            transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
            transform: translateY(0) rotateX(0) scale(1);
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}






.kid27{
	position: absolute;
	width: 80px;
height: 80px;
background: white;
 /* margin: 3px 0 0 30px;
transform: rotate(-45deg);
transform-origin: 0 100%; */
}


.kid27-2{
margin-left: 20px;
margin-top: 20px;
	position: absolute;
	width: 40px;
height: 40px;
background:#51E2C1;

}

.kidsTwo27{
	position: absolute;
	margin-left: 160px;
	margin-top: 60px;
}


/* 28 */

#element-28:hover {
	width: 400px;
height: 400px;

	  background: #FDEB5F;
		animation: slide-rotate-ver-right 0.5s steps(10, end) 500ms infinite alternate forwards;
}


@keyframes slide-rotate-ver-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0);
            transform: translateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateX(150px) rotateY(-90deg);
            transform: translateX(150px) rotateY(-90deg);
  }
}
/* 28 */
#element-28:hover {
	/* background: #FDEB5F; */
					width: 200px;
					height: 200px;
					border-radius: 200px;
	        animation: wow 0.8s  both;
}

@keyframes wow{
  0% {
            transform: skew(0deg 0deg);
  }
  30% {
            transform: skew(25deg 25deg);
  }
  40% {
            transform: skew(-15deg, -15deg);
  }
  50% {
            transform: skew(15deg, 15deg);
  }
  65% {
            transform: skew(-5deg, -5deg);
  }
  75% {
            transform: skew(5deg, 5deg);
  }
  100% {
            transform: skew(0deg 0deg);
  }
}

/* 29 */
.wrap {

  margin: 0px;
  display: flex;
  flex-flow: row wrap;
}

.container2 {
  display: inline-block;
  width: 33%;
}

h1 {
  color: lightgray;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}

.box {
  border-radius: 50%;
  height: 40px;
  width: 40px;
	margin: 80px auto;

}
.wrap:hover .box {
    transform: scale(2);
  }
.box1 {

color: white;
background: #60D4C8;
transition: all 300ms;
}




.mini{
font-family: 'Montserrat', sans-serif;
font-size: 10px;
width: 40px;
height: 40px;
font-weight: 500;
text-transform: none;
margin-top:7px;
text-align: center;
color: black;
}


.box2 {
  background: #46BAAF;
  transition: all 1s;
}

.box3 {
  background: #3EA69B;
  transition: all 3s;
}





	/* 30 */
	  #element-30{
		width: 400px;
		height: 200px;
		overflow: hidden;
	}

	.circle30 {
	margin-top: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	opacity: 0;
}

.circle30 .first,
.circle30 .second {

  width: 2200px;
  height: 2200px;
  position: absolute;
	margin-top: 100px;

}

.circle30 .first {
  animation: scale 2s cubic-bezier(0.5, 0.01, 0, 0.08) infinite;
  opacity: 0;
}

.circle30 .second {
  animation: scale-second 1s cubic-bezier(0.5, 0.01, 0, 0.08) infinite;
  animation-delay: 1s;
  opacity: 0
}

@keyframes scale {
  from {
		transform-origin: 50% 50%;
    transform: scale(0);
    opacity: 1;
  }
  to {
		transform-origin: 50% 50%;
    transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes scale-second {
  from {
			transform-origin: 50%;
    transform: scale(0);
    opacity: 1;
  }
  to {
			transform-origin: 50%;
    transform: scale(1.2);
    opacity: 1;
  }
}


.cirVisible .circle30{
  opacity: 1;
  animation-play-state: running;

}



html{
	scroll-behavior: smooth;
}

/* 31*/
.text31{
	position: absolute;
	margin-top: 90px;
	text-decoration: none;
	text-align: center;
	height: 200px;
	width: 400px;
	color: black;
	font-weight: 500;
	font-size: 1em;
}
.text31:hover{
	color: #51E2C1;

}
/* 32 */
.NetA {
	margin: 0;
	padding: 0;
		border-radius: 100%;
    position: relative;
		top: 25px;
    left: 120px;
    width: 150px;
    height: 150px;
    background: none;
}
.NetD {
	border-radius: 100%;

    position: absolute;
    left: 5%;
    top: 9%;
    width: 90%;
    height: 90%;
    background: #5897A6;

    transform-origin: 50% 50%;
    transition: 7700ms all;
}

.NetF {
    background: #D93829;
}

.NetD:hover .NetD {

    transition-delay: 150ms;
    transform: scale(.05);
}

/* -33 */
.NetA2 {
	transform: rotate(45deg);
    position: relative;
    left: 110px;
    width: 120px;
    height: 120px;
		top: 40px;
    left: 135px;

    background: none;
}


.NetD2 {
	transition: width 1s, height 1s, transform 1s;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background: white;
    ;
    transform-origin: 50% 50%;
    transition: 1200ms all;
}

.NetF2 {
	transition: width 1s, height 1s, transform 1s;
    background: #F2EB8D;
}

.NetD2:hover .NetD2 {


    transition-delay: 200ms;
    transform: scale(.8);
			transform: rotate(540deg);
}
.NetD2:hover{
	animation: flash 0.7s infinite;
}

@keyframes flash {

	0% {
			background: #ec4cec;
	}

	50% {
			background: #ffbd42
	}

	100% {
			background: rgb(114, 170, 255)
	}
}

/* -34 */

#element-34:hover .kid34{

	        animation: Sblur 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@keyframes Sblur {
  0% {	background: #ec4cec;
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform-origin: 50% 100%;
            filter: blur(40px);
    opacity: 0;
  }
  100% {background: #51E2C1;
            transform: translateY(0) scaleY(1) scaleX(1);
            transform-origin: 50% 50%;
    opacity: 1;
  }
}
.kid34{
	background: white;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	position:absolute;
	 margin-top: 50px;
	 margin-left: 150px;
}

/* 35 */
#element-35:hover .kid35{

	background: #51E2C1;
	animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

.kid35{
	width: 400px;
	height: 200px;
	background: #51E2C1;
}



/* -37 */
#element-36:hover .kid36 {

	background: red;
	animation: flip-scale-2-hor-top 0.5s linear both;
}
@keyframes flip-scale-2-hor-top {
  0% {background: #ec4cec;
            transform: translateY(0) rotateX(0) scale(1);
            transform-origin: 50% 0%;
  }
  50% {    background: #ffbd42;

            transform: translateY(-50%) rotateX(-90deg) scale(2);
            transform-origin: 50% 50%;
  }
  100% {    background: rgb(114, 170, 255);

            transform: translateY(-100%) rotateX(-180deg) scale(1);
            transform-origin: 50% 100%;
  }
}

.kid36{font-family: 'Montserrat', sans-serif;
	position: absolute;

	margin-left: 25%;
	transform: scale(.5);
	background: red;
	width: 200px;
	height: 200px;
	margin-left: 100px;

}
/* 35 */




.A366{
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
	color: white;
	text-align: center;
	position: absolute;
	padding-top: 50px;
	padding-left: 50px;


}



/* 37 */
#element-37{

}
.circle37W{
	margin-top: 1220px;
	transform:scale(.3);
}
.circle37 {
	margin-top: 100px;
	margin-left: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  /* border-radius: 50%; */
  width: 15px;
  height: 15px;
  box-shadow: 0px 0px 0px 5px green;
  animation: cir37 1.5s linear infinite;
	opacity: 0;
}

@keyframes cir37 {
  0% {
		transform: rotate(0deg);
    box-shadow: 0px 0px 0px 5px red;
    width: 1px;
    height: 1px;
  }
  20% {
    box-shadow: 0px 0px 0px 50px red;
    width: 1px;
    height: 1px;
  }
  30% {
    box-shadow: 0px 0px 0px 45px red;
    width: 1px;
    height: 1px;
  }
  90% {
    box-shadow: 0px 0px 0px 5px red;
    width: 150px;
    height: 150px;
  }
  95% {
    box-shadow: 0px 0px 0px 0px red;
    width: 150px;
    height:150px;
  }
  100% {
		transform: rotate(500deg);
    box-shadow: 0px 0px 0px 0px red;
    width: 145px;
    height: 145px;
  }
}

.cir37Visible .circle37{
	opacity: 1;
	animation-play-state: running;
}

/* 38 */

	#element-38{
	z-index: 99;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
#element-38:before {
  content: '';
  position: absolute;

	background: white;
  /* border: white solid 7px; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	transition-timing-function: linear;
	  transition: width 2s, height .3s;
  transition-duration: 2s;
  transition-property: top, right, bottom, left;
}
#element-38:hover:before, #element-38:focus:before, #element-38:active:before  {

	top: -40px;
  right: -40px;
  bottom: -40px;
  left: -40px;
}

/* 39 */
#element-39 {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
#element-39:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#element-39:hover:before, #element-39:focus:before, #element-39:active:before {
  left: 0;
  right: 0;
}

/* -40 */
.bubbleW{
	padding-top: 80px;
	padding-left: 160px;

}
.bubble{
	text-align: center;
	position: absolute;
	width:80px;
	height: 40px;
	background: red;
	border-radius: 10px;
}
.bubble-top {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.text40{
	width: 60px;
	height: 60px;
	margin-top:4px;
	margin-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: white;

}
.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent red transparent;
}
.bubble-top:hover:before, .bubble-top:focus:before, .bubble-top:active:before {
  transform: translateY(-10px);
}

/* 41 */
#element-41 {

  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #5897A6;
  transition-property: color;
  transition-duration: 0.3s;
}
#element-41:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F2EB8D;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#element-41:hover, #element-41:focus, #element-41:active {
  color: white;
}
#element-41:hover:before, #element-41:focus:before, #element-41:active:before {
  transform: scale(0);
}

/* 42 */
#element-42 {
    position: relative;
    background: transparent;
}
#element-42:hover .kid42 {
    width: 400px;
    height: 200px;
    position: absolute;


background: white;
animation: f2f2 2s linear both;

}

@keyframes f2f2 {
  0% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
            box-shadow: none;
  }
  14.9% {
    opacity: 0;
            box-shadow: none;
  }
  15% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
            box-shadow: none;
  }
  24.9% {
    opacity: 0;
            box-shadow: none;
  }
  25% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
            box-shadow: none;
  }
  39.9% {
    opacity: 0;
            box-shadow: none;
  }
  40% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
            box-shadow: none;
  }
  44.9% {
    opacity: 0;
            box-shadow: none;
  }
  45% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
            box-shadow: none;
  }
  69.4% {
    opacity: 0;
            box-shadow: none;
  }
  69.5% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
            box-shadow: none;
  }
  79.4% {
    opacity: 0;
            box-shadow: none;
  }
  79.9% {
    opacity: 1;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
            box-shadow: none;
  }
  89.8% {
    opacity: 0;
            box-shadow: none;
  }
  89.9% {
    opacity: 1;
            box-shadow: none;
  }
  90% {
    opacity: 0;
            box-shadow: none;
  }
  100% {
    opacity: 0;
  }
}


.kid42 {
    width: 400px;
    height: 200px;
    position: absolute;
background: #F2EB8D;
}

/* 43 */
#element-43 {
    position: relative;
    background: transparent;
}

#element-43:hover .kid43 {
    width: 400px;
    height: 200px;
    position: absolute;
background: #F2EB8D;
animation: outright 1.5s both;

}

@keyframes outright {
  0% {
            transform: translateX(0);
            animation-timing-function: ease-out;
  }
  5% {
            transform: translateX(30px);
            animation-timing-function: ease-in;
  }
  15% {			width:150px;
		height:150px;
		border-radius: 100%;


            transform: translateX(0);
            animation-timing-function: ease-out;
  }
  25% {
		width:150px;
			height:150px;
			border-radius: 100%;
            transform: translateX(38px);
            animation-timing-function: ease-in;
  }
  38% {width:150px;
		height:150px;
		border-radius: 100%;
            transform: translateX(0);
            animation-timing-function: ease-out;
  }
  52% {width:150px;
		height:150px;
		border-radius: 100%;
            transform: translateX(80px);
            animation-timing-function: ease-in;
  }
  65% {width:150px;
		height:150px;
		border-radius: 100%;
            transform: translateX(0);
            animation-timing-function: ease-out;
  }
  85% {width:150px;
		height:150px;
		border-radius: 100%;
    opacity: 1;
  }
  100% {width:150px;
		height:150px;
		border-radius: 100%;
            transform: translateX(1000px);
    opacity: 0;
  }
}



.kid43 {
    width: 400px;
    height: 200px;
left:150px;
background: #F2EB8D;
}



/* ---- */
/* 44 */

#element-44:hover .kid44{
background: #51E2C1;
	z-index: 999;
	animation: bye44 0.7s ease-in both;
}

@keyframes bye44 {
  0% {
            transform: translateX(0) rotateY(0) scale(1);
            transform-origin: -1800px 50%;
    opacity: 1;
  }
  100% {
            transform: translateX(1000px) rotateY(-30deg) scale(0);
            transform-origin: -100% 50%;
    opacity: 1;
  }
}

.kid44{
	margin-left: 175px;
	margin-top:75px;
	z-index: 999;
	position: absolute;
	background:#F2EB8D;
  width: 50px;
	height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text44{
	width: 100px;
position: absolute;
	margin-left: 150px;
		margin-top:50px;
	font-size: .9em;
	text-align: center;
}
#element-44 span{
	z-index: 99999999;
}







/* 45 */
#element-45:hover {
    transition: none;
}

.circleA {
    width: 50px;
    height: 50px;
    background: red;
}

.circle {
    border-radius: 125px;
}

/* -46 */


#element-46 {
    position: relative;
    /* background: transparent; */
}

#element-46:hover {
    background: transparent;
    transition: none;
}

#element-46 .square1 {
    width: 20px;
    height: 40px;
    position: absolute;
    background: rgb(230, 203, 82);
    transition: all 200ms ease-in;
}

/* 47 */
#element-47:hover .kid47{


z-index: 9999999;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: #F2EB8D;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(5);
    background-color: yellow;
		border-radius: 100%;

  }
}

.kid47{
	position: absolute;
	height: 400px;
	width: 400px;
	margin-top:-100px;
}

/* 48 */
#element-48 {
    position: relative;
    /* background: transparent; */
}

#element-48:hover .square1{

		background: #51E2C1;
		color: transparent;
}

#element-48 .square1 {
margin-left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    background: #51E2C1;
    transition: all 100ms ease-in;
}

/* 49 */
#element-49 {
    position: relative;
    background: transparent;
}
#element-49:hover .kid49 {
    width: 400px;
    height: 200px;
    position: absolute;


background: #F2EB8D;
	animation: roll-out-left 0.6s ease-in both;

}

@keyframes roll-out-left {
  0% {
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
            transform: translateX(-1000px) rotate(-540deg);
    opacity: 0;
  }
}

.kid49 {
    width: 400px;
    height: 200px;
    position: absolute;
background: #F2EB8D;
}


/* 50 */

#element-50 {
    position: relative;
    background: transparent;
}

#element-50:hover .kid50 {
    width: 400px;
    height: 200px;
    position: absolute;
background: #F2EB8D;
animation: slide-out-blurred-top 1.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;

}

@keyframes slide-out-blurred-top {
  20% {
		background: red;
		width: 100px;
		height: 100px;
            border-radius: 100%;
            transform-origin: 50% 50%;
            filter: blur(0);
    opacity: 1;
  }
	80% {	width: 200px;
		height: 100px;
            transform: translateX(0) scaleY(1) scaleX(1);
            transform-origin: 50% 0%;
            filter: blur(0);
    opacity: 1;
  }
  100% {
            transform: translateX(1000px) scaleY(2) scaleX(0.2);
            transform-origin: 50% 0%;
            filter: blur(40px);
    opacity: 0;
  }
}


.kid50 {
    width: 400px;
    height: 200px;
left:150px;
background: #F2EB8D;
}
