body {
background: #673AB7;
}


#clockW{
	background-color: black;

	background: transparent;
	width:900px;
	height: 900px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
	top: 40%;
	margin-top: -450px;
}


#clock {
top:180px;



background: #ffffff;
border: 5px solid white;
box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
position: relative;
width: 200px;
height: 200px;
border-radius: 100%;

width: 300px;
	 height: 300px;
	 border-radius: 50%;
	 background-color: antiquewhite;
	 margin: 100px auto 0px auto;
	 position: absolute;
	 /* border:20px solid cornsilk; */

}

#clock2 {
		top:180px;
right: 0;
background: #ffffff;
border: 5px solid white;
box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
position: absolute;
width: 200px;
height: 200px;
border-radius: 100%;

width: 300px;
	 height: 300px;
	 border-radius: 50%;
	 background-color: antiquewhite;
	 margin: 100px auto 0px auto;
	 position: absolute;
}

.center,
.center2{
    background-color: #000;
    position: absolute;
    left: calc(50% - 9px);
    top:  calc(50% - 9px);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 20;
}

.hour, .hour2{
    width: 10px;
    height: 75px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 75px;
    left: 145px;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(360deg);
}

.minute, .minute2 {
    width: 5px;
    height: 120px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 147px;
    z-index: 9;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(90deg);

}








.aFiveMinute {
	background: white;
}








#secondHand, #secondHand2 {
	width: 2px;
	 height: 120px;
	 background-color:red;
	 transform-origin: bottom center;
	 border-radius: 4px;
	 position: absolute;
	 top: 30px;
	 left: 149px;
	 transition: all 0.06s;
	 transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
	 z-index: 8;
		 transform: rotate(360deg);


}


.city{



      width: 300px;
      position: absolute;
top: 240px;
font-family: sans-serif;
      font-weight: 200;
			font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 4px;
      /* color: #fff; */
			color: white;
      opacity: 0.5;
			z-index: 99;
		}
		.city2{
left: 600px;
			width: 300px;
			position: absolute;
top: 240px;
font-family: sans-serif;
			font-weight: 200;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 4px;
			/* color: #fff; */
			color: white;
			opacity: 0.5;
			z-index: 99;
				}



				#time{

					font-weight: bold;
					width: 300px;
		      position: absolute;
		top: 	620px;
		font-family: sans-serif;
		      font-weight: 200;
					font-size: 2em;
		      text-transform: uppercase;
		      text-align: center;
		      letter-spacing: 4px;
					color: white;
					z-index: 99;

					font-family: 'Lato', sans-serif;
					/* font-family: 'Inconsolata', monospace; */


				}

				#time2{
					left: 600px;

					/* font-family: 'Gothic A1', sans-serif; */
					font-weight: bold;
					width: 300px;
		      position: absolute;
		top: 	620px;
		      font-weight: 200;
					font-size: 2em;
		      text-transform: uppercase;
		      text-align: center;
		      letter-spacing: 4px;
					color: white;
					z-index: 99;
					font-family: 'Lato', sans-serif;

				}
