/* mobile */
@media (max-width: 670px) {

    body {
        background: red;
    }
    /* footer for mobile */

    #mobile {

      display: inline;
      width: 100vw;
      height:100vh;

      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
    }

    #desktop,
    #tablet{
        display: none;
    }
