/* background:rgb(5,15,36);
color: #f0f0f0;
color: #49F0F0;

color: #f0f0f0; */

body {
	font-family: proxima-nova, sans-serif;
	margin: 0;
	padding: 0;
	background:rgb(5,15,36);
	font-size: 18px;
  letter-spacing: .005em;
  line-height: 1.5;

	width: 100vw;
	height: 100%;
	overflow-x: hidden;

}
/* video {
  width: 1700px;
	overflow: visible;
	z-index: -1;
	position: absolute;
	background-repeat: repeat;
} */

#main-img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
height: auto;
	display: inline;
	position: absolute;
	background-repeat: repeat;
	z-index: -1;

}

#desktop{
	width: 100%;
	height: 100%;
}

.main-screen{
	width: 100vw;
	height: 100vh;

	display: block;
	z-index: -999;
}


.mainText-Wrap{
	height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	text-align: center;
}
.mainText-Wrap2{
position: relative;
bottom:42px;
margin: 0;


}
.eng-ko{
	color: white;
	font-size: 1rem;
	width: auto;
position:absolute;
right: 8vw;
font-weight: normal;
		top: 30px;
}
.koko{font-family: 'Nanum Gothic', sans-serif;
		font-size: 1rem;
		font-weight: normal;
		color: white;
		padding-right: 20px;
}
.engeng:hover{
	opacity: 0.8;
}
.koko:hover{
	opacity: 0.8;
}



h1{
	margin: 0;
	letter-spacing: -.025em;
  color: #f0f0f0;
  font-weight: 300;
  font-size: 56px;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	}

.pollution-text{
	font-weight: 500;
  font-size: 84px;
	letter-spacing: .0025em;
	top: -29px;
	position: relative;
}

  .text-main{
    letter-spacing: .005em;
    color: #49F0F0;
    font-weight: 300;
    font-size: 21px;
		position: relative;
		top: -24px;
 animation: fade-in-bottom2 .5s .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both ;
  	}

		  @-webkit-keyframes fade-in-bottom {
		    0% {
		              transform: translateY(50px);
		      opacity: 0;
		    }
		    100% {
		              transform: translateY(0);
		      opacity: 1;
		    }
		  }
		  @keyframes fade-in-bottom {
		    0% {
		              transform: translateY(50px);
		      opacity: 0;
		    }
		    100% {
		              transform: translateY(0);
		      opacity: 1;
		    }
		  }
    @-webkit-keyframes fade-in-bottom2 {
      0% {
                transform: translateY(20px);
        opacity: 0;
      }
      100% {
                transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes fade-in-bottom {
      0% {
                transform: translateY(20px);
        opacity: 0;
      }
      100% {
                transform: translateY(0);
        opacity: 1;
      }
    }


  /* dive */
    .line{
      width: 1px;
      height: 30px;
      background: white;
      margin-left: 5px;      /* position: absolute; */
      /* border: 1px white solid; */
    }
		.dive {
    position: absolute;
    top: calc(100vh - 115px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
    height: 120px;
    text-align: center;
    z-index: 1000;
		color: white;
		text-transform: capitalize;
		}
		.dive__text {
    overflow: hidden;
}

.subtitle--small {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .025rem;
}
.dive__text span {
    display: block;
    position: relative;

}

.dive>span {
    width: 1px;
    height: 95px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 25px auto 0;
    transform-origin: top;
		color: white;
		animation: line 1.5s infinite cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	  }

	  @-webkit-keyframes line {
	    0% {
	      transform: scaleY(1);
	      transform-origin: 0% 100%;
	      opacity: 1;
	    }
	    40% {
	      transform: scaleY(0);
	      transform-origin: 0% 100%;
	      opacity: 1;
	    }
	    60% {
	      transform: scaleY(0);
	      transform-origin: 0% 0%;
	      opacity: 1;
	    }
	    100% {
	      transform: scaleY(1);
	      transform-origin: 0% 0%;
	      opacity: 1;
	    }
}

span{
	text-transform: capitalize;
}

.dive-text{
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 0.05em;
}

/* dive end  *//* dive end  *//* dive end  */

.box-gradient{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 250px;
	height: 120px;
	text-align: center;
	z-index: 1000;
		color: white;
width: 100vw;
height: 500px;
top: 100vh;
background-image: linear-gradient(rgba(5,17,39,1), rgba(5,17,39,0));
background-image: linear-gradient(to bottom, rgb(5,15,36,0), rgba(5,15,36,.1));
}

.box-sign{
	width: 170px;
	height: 55px;
	color: White;
	left: 2.8vw;
	right: 3.5vw;

	background-color: #ef4325;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 99999;
	position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
	 		text-decoration: none;
			text-decoration-line: none;

}
.text-sign{
		text-transform: uppercase;
		letter-spacing: 0.42px;
		font-size: 14.4px;
		z-index: 99999999999;
		letter-spacing: 0.05em;
		text-decoration: none;
		color: white;
		margin: 0;
		text-decoration-color: none;
		text-decoration-style: none;
		text-decoration-line: none;
text-underline-position: auto;
}
a{
			color: white;
	text-decoration-color: none;
	text-decoration-style: none;
	text-decoration-line: none;
text-underline-position: auto;

}
.box-sign:hover{
	transition: all .5s cubic-bezier(.86,0,.07,1);
	background: #0b1539;
	text-decoration: none;
	color: white;
}


/* screen-1 *//* screen-1 *//* screen-1 *//* screen-1 *//* screen-1 */
.screen-1{
		z-index: -99999;
		display: block;
		width: 100vw;
		height: auto;
		overflow: hidden;
		top:100vh;
		background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(5,15,36,1));

}

.line-sub-m{
		margin-left: auto;
		margin-right: auto;
		width: 150px;
		height: 2px;
		background: #01cbe1;
}

.textWrap-m{
	margin-left: auto;
	margin-right: auto;
		width: 66vw;
		display: block;
		text-align: center;
		padding: 120px 0px 60px 0;
			position: relative;
		animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



.subtitle-m{
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: -.015em;
	line-height: 1.05;
	display: block;
	margin: 0;
	color: #01cbe1;
	position: relative;
	top: 25px;

}

.bold{
	text-transform: uppercase;
	font-weight: 600;
}

.body-m{
	font-size: 21px;
	font-weight: 300;
	line-height: 1.45;
	letter-spacing: .005em;
	/* position: relative; */
	line-height: 1.45;
	color: #f0f0f0;
	padding-top:25px;




}


/* screen-2 */
.screen-2{
		width: 100vw;
		height: 100%;
		/* height: auto; */
		display: block;
		overflow: hidden;
		background: rgba(5,17,39,1);
		z-index: -99;
		top: calc(100vh + 400px);
}

.textWrap-1{
			margin-left: auto;
			margin-right: auto;
			width: 66vw;
			display: block;
			position: absolute;
			animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			width: 66vw;
			position: absolute;
			padding-left: 17vw;
			padding-right: 17vw;
			padding-bottom: 60px;
}
.LeftWrap-1{
width: calc(66vw/2);
position: relative;
text-align: left;
}

.line-sub-1{
		width: 150px;
		height: 2px;
		position: relative;
		background: #01cbe1;
}

.subtitle-1{
		font-size: 2.5rem;
		font-weight: 300;
		display: block;
		margin: 0;
		color: #01cbe1;
		text-transform: uppercase;
		position: relative;
		letter-spacing: -.015em;
		color: #01cbe1;
		line-height: 1.05;
		top: 25px;

}
.subtitle-1 span{
	text-transform: uppercase;
	font-weight: 600;
}
.body-1{
	font-size: 18px;
	font-weight: 300;
	line-height: 1.45;
	letter-spacing: .005em;
	position: relative;
	line-height: 1.5;
	color: #f0f0f0;
	padding-top:35px;
	width: 480px;
	padding-bottom:80px;

}
.RightWrap-1{
	width: calc(66vw/2);
	text-align: center;
}

.map{
	right: 3vw;
	width: 60vw;
		width: 1010px;
	position: absolute;
	top: 20px;
	padding-bottom:60px;
}

.circle{
		width: 1010px;
position: absolute;
margin-top: -80px;
}

.circle1{
	right: -1vw;
	top: 100px;
	transform-origin: center;
	animation: rotation 9s infinite linear;
}

.circle2{
	right: -21vw;
	top: 100px;
	transform-origin: 50% 50%;
	animation: rotation 9s infinite linear;
}

.circle3{
	transform-origin: 50% 50%;
	right: 17vw;
	position: absolute;
	top: 230px;
	animation: rotation2 9s infinite linear;
}
.circle4{
	transform-origin: 50% 50%;
	right: -5vw;
	top: 230px;
	animation: rotation2 9s infinite linear;
}
.circle5{
		transform-origin: center;
		right: -24vw;
		top: 270px;
		animation: rotation2 9s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.number{
width: 60vw;
	width: 1010px;
position: absolute;
margin-top: -80px;

}
.number1{
right: -1vw;
top: 100px;
transform: scale(1.1);
}

.number2{
right: -20.8vw;
	top: 100px;
}

.number3{
	right: 17vw;
	position: absolute;
	top: 228.5px;
}
.number4{
right: -5.2vw;
top: 230px;

}
.number5{
right: -24.1vw;
top: 269px;
}

.circle-t {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  font-size: 30px;
  background: #9cc;
  text-align: center;
  position: relative;
}

/* 3 legal *//* 3 legal *//* 3 legal */
/* screen22 start*//* screen2-2 start*//* screen2-2 start*/
	.screen-22{
	width: 100vw;
	height: 100%;
	display: block;
	position: absolute;
	overflow: hidden;
	background: #01cbe1;
	z-index: -99;
	top: calc(100vh + 1150px);
	text-align: center;
	}

	.textWrap-22{
		display: block;
		margin-top: 80px;
				margin-bottom: 80px;
	}

.line-sub-22{
		left: 50%;
		margin-left: calc(-150px/2);
		width: 150px;
		height: 2px;
		position: absolute;
		background: #01cbe1;
		background: white;
}

.subtitle-22{
		font-size: 2.8rem;
		font-weight: 300;
		display: block;
		margin: 0;
		color: #01cbe1;
		text-transform: uppercase;
		position: relative;
		letter-spacing: -.015em;
		color: white;
		line-height: 1.05;
		top: 25px;
		z-index: 9999999;

}
.subtitle-22 span{
	color: white;
	text-transform: uppercase;
	font-weight: 600;
}

.boxWrap{
margin-left:16vw;
left: 50%;
text-align: center;
vertical-align: middle;
}

.legalBox {
	margin:19px;
	padding: 20px 20px 20px ;
	width:18vw;
  color:white;
	float: left;
	position: relative;
	top:80px;
	border-radius: 2%;
	background:  #fff;
	margin-bottom: 80px;
}

.img-box{
		width: 160px;
		height: 160px;
		position: relative;
		top: -125px;
		border-radius: 50%;
		background:  #f0f0f0;
		border: solid #01cbe1 5px;
}
.box-subtitle{
		/* color: #01cbe1; */
		text-align: center;
		font-size: 34px;
		margin: 1em 0.5em;
		font-family: "Proxima Nova",sans-serif;
		font-weight: 300;
		letter-spacing: -.035em;
		text-transform: uppercase;
		font-size: 28px;
		line-height: 1.15;
		color:  #003755;
}
.box-text{
		margin: 0;
		color: #003755;
		font-size: 18px;
		line-height: 1.45;
		display: block;
		margin: 1em 0.5em  0.5em 0.5em;
}

.TextW1{
		height: 5em;
		position: relative;
}
.TextW11{
	margin: 0;
     position: absolute;
     top: -40%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
}
/* 3 legal END *//* 3 legal END*//* 3 legal END*/

/* screen-33 *//* screen-33 *//* screen-33 *//* screen-33 */
.screen-33{
	z-index: -99;
 	display: block;
 	position: absolute;
 	width: 100vw;
	overflow: hidden;
	top: calc(100vh + 1919px);
background: #f0f0f0;
margin-bottom: 80px;
}
.textWrap-m2{
	padding: 80px 0px 60px 0;
	font-family: proxima-nova, sans-serif;
color: #003755;
 text-align: center;

}
.body-m2{
	font-size: 18px;
color: #003755;
font-weight: 400;
 padding-top:25px;
 text-align: center;
}
.research{
	text-transform: uppercase;
	font-weight: 600;
}




/* screen-3 */
.screen-3{
	font-family: proxima-nova, sans-serif;
	display: block;
	position: absolute;
	z-index: -9;
	overflow: hidden;
	background: #f0f0f0;
	width: 100vw;
	height: 1200px;
	top: calc(100vh + 2165px);
	margin-bottom: 80px;
}

.screen-4{
	 font-family: proxima-nova, sans-serif;
	 display: block;
	 position: absolute;
	 z-index: 1;
	 overflow: hidden;
	 background: #f0f0f0;
	 width: 100vw;
	 height: 1000px;
	 top: calc(100vh + 3165px);
	 margin-bottom: 80px;
		}


.bar{
		width: 60vw;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 40px;
		margin-bottom: 80px;
		/* background: red; */
		padding: 0;

}

.textWrap-2{
	width: 66vw;
	    padding-left: 17vw;
	    padding-right: 17vw;
	    height: 900px;
	    z-index: 999;
	    top: 60px;
	    position: relative;
	    margin-bottom: 80px;

}
.LeftWrap-2{-4
	width: 66vw;
position: relative;
text-align: left;
}

.line-sub-02{
	width: 66vw;
	height: 1px;
position: relative;
background: #01cbe1;
}

.subtitle-02{
	font-size: 2.5rem;
	font-weight: 300;
display: block;
margin: 0;
text-transform: uppercase;
position: relative;
letter-spacing: -.015em;
color: #01cbe1;
line-height: 1.05;
	top: 25px;
}
.subtitle-02 span{
	text-transform: uppercase;
	font-weight: 600;
}




/* d */

.body-2{
	font-family: proxima-nova, sans-serif;
color: #003755;
 column-count: 2;
 width: 66vw;
 padding: 0;
 column-gap: 40px;


 font-size: 18px;
 font-weight: 400;
 line-height: 1.45;
 letter-spacing: .005em;
 position: relative;
 line-height: 1.5;

 padding-top:35px;
 /* background: red; */

}


 .body-222{
 	font-family: proxima-nova, sans-serif;
 color: #003755;
  column-count: 2;
  width: 66vw;
  padding: 0;
  column-gap: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: .005em;
  position: relative;
  line-height: 1.5;

  padding-top:35px;
 /* background: blue; */

}
.RightWrap-2{
 width: 66vw;
 background: red;
 /* background: red; */
 margin: 0 auto;
 align-items: center;
 }


 .textWrap3{
 	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 	width: 66vw;
 	padding-left: 17vw;
 	padding-right: 17vw;
 	margin-top: 50px;
 	text-align: center;
 	top: 100px;
 	display: block;
 }
 /* 4444444 */
 /* page2 */

		 .textWrap-4{
		 position: absolute;
		 animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		 left: 50%;
		 margin-left: calc(-750px/2);
		 display: inline;
		 width: 750px;
		 height: 200px;
		 margin-top: 50px;
		 }

		 .line-sub-4{
		 	height: 2px;
		 	width: 150px;
		 	background: #01cbe1;
		 	left: 50%;
		 	top: 1%;
		 	margin-left: calc(-150px/2);
		 	position: absolute;
		 }
		 .subtitle-04{
		 		padding-top:10px;
		 position: absolute;
		 letter-spacing: -.035em;
		 color: #01cbe1;
		 line-height: 1.05;
		 font-size: 48px;
		 font-weight: 300;
		 text-align: center;
		 top: 8%;
		 left: 50%;
		 margin-left: calc(-800px/2);
		 width: 800px;
		 }
		 .body-4{
		 	position: absolute;
		 	top: 45%;
		 	line-height: 1.45;
		 	font-size: 20px;
		 	color: #f0f0f0;
		 	font-weight: 300;
		 	line-height: 1.45;
		 	letter-spacing: .005em;
		 	text-align: center;
		 	position: absolute;
		 	padding-bottom: 50px;
		  			padding-top:10px;
		  }

/* grp */
.screen-5{
 	font-family: proxima-nova, sans-serif;
 	width: 100vw;
 	height: 1320px;
 	display: block;
 	position: absolute;
 	overflow: hidden;
 	background: #f0f0f0;
 	z-index: 19;
 top: calc(100vh + 4100px);
 }
 .barW2{
		position: relative;
		top: 50px;
	 }


 .textWrap-222{
 	height: 1000px;
 }

 .diaimg3{
	 width: 1100px;
 }

.circleccc{
	width: 2.4vw;
  height: 2.4vw;
  border-radius: 100%;
  background-color: #ef4325;
	opacity: 0.5;
  animation: glow 1s infinite alternate;
position: relative;
left: 600px;
top: -100px;
}

.diaW{
	width: 100%;
	/* background: red; */
	height: auto;
	position: absolute;
	margin-bottom: 80px;
}
.cir{
	position: absolute;
	border-radius: 100%;
	background: #f9a55d;
	background: #2a8cc8;
	background: #40ac8f;
	opacity:0.7;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 99;
	padding: 0;
	margin: 0;
}


.textm{
	line-height: 1;
	margin: 0;
	opacity: 0;
	color: black;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	font-weight: bold;
	z-index: 999;
		font-weight: 500;
		text-align: center;
		pointer-events : none;

}

.textm1,.textm2, .textm5, .textm3, .textm4, .textm5, .textm9, .textm10  {
	line-height: 1;
	opacity: 0;
	color: black;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	font-weight: 400;
	z-index: 999;
	width: 50px;
	text-align: center;
	position: absolute;
}
.textm4{
	line-height: 1;
	opacity: 0;
	color: black;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	font-weight: 400;
	z-index: 999;
	width: 180px;
	text-align: center;
	position: absolute;
}
.textm5{
	line-height: 1;
	opacity: 0;
	color: black;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	font-weight: 400;
	z-index: 999;
	width: 80px;
	text-align: center;
	position: absolute;
}
.textm6	{
	line-height: 1;
	opacity: 0;
	color: black;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	font-weight: 400;
	z-index: 999;
	width: 120px;
	text-align: center;
	position:absolute;
}
.textm9	{
	line-height: 1;
	opacity: 0;
	color: black;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	font-weight: 400;
	z-index: 999;
	width: 120px;
	text-align: center;
	position:absolute;
	pointer-events : none;
}
.textm10	{
	line-height: 1;
	opacity: 0;
	color: black;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	font-weight: 400;
	z-index: 999;
	width: 1020px;
	text-align: center;
	position:absolute;
	pointer-events : none;
}

.textm1, .textm2, .textm3{
	color: #ef4325;
	font-weight: 700;
}

.textm7, .textm8{
	text-align: center;

	line-height: 1;
	opacity: 0;
	color: black;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	font-weight: 400;
	z-index: 999;
	width: 20px;
	text-align: center;
}






.cir-1{
	background: #f9a55d;
	width: 52px;
	height: 52px;
	top: 360px;
	left: 385px;
	z-index: 999;
}
.cir-2{
	background: #f9a55d;
	width: 49px;
	height: 49px;
	top: 370px;
	left: 415px;
	z-index: 99;
}
.cir-3{
	background: #40ac8f;
	width: 54px;
	height: 54px;
	top: 290px;
	left: 25px;
}
.cir-4{
	background: #40ac8f;
	width: 45px;
	height: 45px;
	top: 270px;
	left: 850px;
}
.cir-5{
	background: #40ac8f;
	width: 43px;
	height: 43px;
	top: 320px;
	left: 47px;
}
.cir-6{
	background: #f9a55d;
	width: 40px;
	height: 40px;
	top: 420px;
	left: 349px;
}
.cir-7{
	padding: 0;
	background: #f9a55d;
	width: 30px;
	height: 30px;
	margin:0;
	top: 350px;
	left: 88px;
}
.cir-8{
	padding: 0;
	margin:0;
	background: #f9a55d;
	width: 28px;
	height: 28px;
	top: 350px;
	left: 65px;
}

.cir-9{
	padding: 0;
	margin:0;
	background: #2a8cc8;

	width: 28px;
	height: 28px;
	top: 330px;
	left: 81px;
}

.cir-10{
	padding: 0;
	margin:0;
	background: #2a8cc8;
	width: 25px;
	height: 25px;
	top: 590px;
	left: 905px;
}

.cir-1:hover .textm1{
	opacity: 1;
}

.cir-2:hover .textm2{
	opacity: 1;
	z-index: 9999999;
}

.cir-3:hover .textm3{
	opacity: 1;
}
.cir-4:hover .textm4{
	opacity: 1;
}
.cir-5:hover .textm5{
	opacity: 1;
}
.cir-6:hover .textm6{
	opacity: 1;
}
.cir-7:hover .textm7{
	opacity: 1;
}
.cir-8:hover .textm8{
	opacity: 1;
}
.cir-9:hover .textm9{
	opacity: 1;
}
.cir-10:hover .textm10{
	opacity: 1;
}


 .cir-1:hover{
opacity: 1;

}
.cir-2:hover{
	opacity: 1;
		z-index: 9999;
}
.cir-3:hover{
opacity: 1;
}

.cir-2:hover.cir-1{
	z-index: -9999;
}

.cir-7:hover {
	z-index: 99;
}
.cir-5:hover {
	z-index: 9999;
}
.cir-8:hover {
	z-index: 99999;
}
.cir-8:hover.cir-9 {
	z-index:-999999;
}
.cir-5:hover.cir-9{
	z-index: -99;

}
.cir-8:hover {
	z-index: 99;
}
.cir-8:hover {
	z-index: 99;
}
.cir-7:hover.cir-8{
	z-index: -99;
}

.cir-8:hover.cir-7{
	z-index: -99;
}

.cir-7:hover.cir-9{
	z-index: -99;
}
/* .cir-4:hover{
	opacity: 1;
}
.cir-5:hover{
opacity: 1;
}
.cir-6:hover{
	opacity: 1;
}
.cir-7:hover{
opacity: 1;
}
.cir-8:hover{
	opacity: 1;
}
.cir-9:hover{
opacity: 1;
}
.cir-10:hover{
	opacity: 1;
}  */

.screen-6{
	z-index: 29;
	display: block;
	position: absolute;
	width: 100vw;
	height: 520px;
	overflow: hidden;
	top: calc(100vh + 5390px);
	background: #003755;
   display: flex;
   justify-content: center;
	 	background: #01cbe1;
				background: rgba(5,17,39,1);
}


.signbig-box{
	position: absolute;
	background: #ef4325;
	width: calc(170px * 3);
	height: calc(55px * 2.5);
	display: block;
	top: 270px;
	border-radius: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
}
.signbig-text{
	text-transform: uppercase;
	letter-spacing: 0.1px;
font-weight: 400;
	z-index: 99999999999;
	letter-spacing: 0.05em;
	text-decoration: none;
	margin: 0;
	color: white;
	font-size: 30px;
}
.body-m3{
	width: 66vw;
	font-size: 21px;
color: #003755;
font-weight: 300;
 padding-top:80px;
 text-align: center;
 display: block;
 color: white;
   margin: 0
}
.research{
	text-transform: uppercase;
	font-weight: 600;
}




@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}

#mobile{
    display: none;


 }
