/* sign box hover */
/* THE ROUND PSEUDO-ELEMENT HOVER STYLES */
.round,
.svg,
.highlight {
		/* max-width: 1960px; */
		margin:0 auto;
}

.round a {
		color: crimson;
}

.round .button2 {
		display: inline-block;
		width: 130px;
		height: 40px;
		line-height: 40px;
		margin: 20px;
		position: relative;
		overflow: hidden;
		border: 2px solid crimson;
		transition: color .5s;

    left: 5vw;
    left: 5vw;
  	background: #ef4325;
  	color: White;    color: White;
    z-index: -1;
}

.round .button2:before {
		content: "";
		position: absolute;
		z-index: -1;
		background: crimson;
		height: 150px;
		width: 200px;
		border-radius: 50%;
}

.round .button2:hover {
		color: #fff;
}


.round .button2:nth-child(2):before {
		left: -10px;
		bottom: 100%;
		transition: all .7s;
}

.round .button2:nth-child(2):hover:before {
		bottom: -50px;
}





/* scroll */

.scrollbar-track.show, .scrollbar-track:hover {
    opacity: 1;
}

.scrollbar-track {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity .5s ease-out,background .5s ease-out;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.scrollbar-track.show, .scrollbar-track:hover {
    opacity: 1;
}
.scrollbar-track-y {
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    z-index: 3000;
}
.scrollbar-track {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity .5s ease-out,background .5s ease-out;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
/* .scrollbar-track .scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    background: #a0ced7;
} */



/* na */
.section-navigation {
    position: absolute;
    top: 50vh;
    right: 60px;
    padding: 2px 0;
    z-index: 9500;
    pointer-events: none;
    transition: all .4s cubic-bezier(.455,.03,.515,.955);
}

.section-navigation__inner {
    position: relative;
    transform: translateY(-50%);
    pointer-events: auto;
 }

.section-navigation__item {
    position: relative;
    cursor: pointer;
}
.section-navigation__item span {
    position: relative;
    padding: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-navigation__item--active span:after, .section-navigation__item--active span:before {
    content: "";
    opacity: 1;
}
.section-navigation__item span:before {
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.section-navigation__item--active span:after, .section-navigation__item--active span:before {
    content: "";
    opacity: 1;
}
.section-navigation__item span:after {
    content: "";
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity .6s;
}
.section-navigation__item span:after, .section-navigation__item span:before {
    opacity: .3;
    transition: opacity .4s;
}
.section-navigation__item span {
    position: relative;
    padding: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-navigation__item__name {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-100%) translateY(-50%);
    text-align: right;
    padding-right: 7px;
    padding: 15px 7px 15px 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}
