* {
	padding: 0px;
	margin: 0px;
}

#wrapD3Cube {
	position: absolute;
	left: 50%;
	top: 50%;

	margin-left: -125px;
/* top */
	margin-top: -140px;

	align-items: center;

    width: 250px;
    height: 213px;
}

.miner{
	font-family: courier-prime,monospace;
	font-weight: 400;
	font-style: normal;
  position: absolute;
  left: 50%;
  /* margin-left: calc(-600px/2); */
  /* top */
  margin-top: 34%;
	margin-left: -300px;
  width: 600px;
  height: 700px;
  display: inline;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;

}

#D3Cube {

    width: 112px;
    height: 112px;
    top: 50px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#D3Cube > div {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 112px;
    height: 112px;
    float: left;
    overflow: hidden;
    opacity: 0.85;
}
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
background-color: rgba(21,21,21,.9);
	border: solid .5px rgba(255,255,255,.5);}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  background-color: rgba(21,21,21,.9);
	border: solid .5px rgba(255,255,255,.5);}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(56px);
background-color: rgba(21,21,21,.9);
	border: solid .5px rgba(255,255,255,.5);
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: rgba(21,21,21,.9);
	border: solid .5px rgba(255,255,255,.5);
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
  background-color: rgba(21,21,21,.9);
	border: solid .5px rgba(255,255,255,.5);
}
#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: rgba(21,21,21,.9);
		border: solid .5px rgba(255,255,255,.5);
}
#D3Cube {
    -webkit-animation: cubeRotation 5s infinite; /* Safari 4.0 - 8.0 */
    animation: cubeRotation 5s infinite;
}
@-webkit-keyframes cubeRotation {
    0%   {  -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { -webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg);  }
    100%   {    -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}
@keyframes cubeRotation {
    0%   {  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { transform: rotateX(-22deg) rotateY(-238deg) rotateZ(0deg);  }
    100%   {    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}


p:hover{

	color: blue;
}
body {
  cursor: url(../img/mouse2.gif), auto;
}

.container{

  width:100vw;
  margin:  auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.containerA{
  /* margin-top: -30px; */
  height: 100vh;
  width: 100vw;
  position: relative;
  float: left;
  background-color:#11476A;
  overflow: hidden;
}
.BK-B{
  background-color: black;
}

h1{
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  left: 50%;
  margin-left: calc(-1000px/2);
/* top */
  margin-top: 320px;
  width: 1000px;
  height: 100px;
  display: inline;
  text-align: center;
	font-size: 1.9em;
	font-weight: normal;
}


#mining {
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  left: 50%;
  margin-left: calc(-1000px/2);
/* top */
  margin-top: 320px;
  width: 1000px;
  height: 100px;

  text-align: center;
	font-size: 1.9em;
	font-weight: normal;
	animation: blinkingText 1s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	60%{	color: transparent;	}
	65%{	color:#000;	}

	100%{	color: #000;	}
}




p{
	font-family: courier-prime,monospace;
	font-weight: 400;
	font-style: normal;
  position: absolute;
  left: 48.5%;
  margin-left: calc(-600px/2);
  /* top */
  margin-top: 380px;
  width: 600px;
  height: 700px;
  display: inline;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
}




.Hide2, .Hide3, .Hide4, .Hide5, .Hide1, .Hide0{
	display: none;
}

.disappear{
	display:none;
}
.SecondCode{display:block;
}

.FirstCode{display:block;
}


.light1-1{
top: 10%;
left: 80%;
position: absolute;
float: left;
display: inline-block;
width: 35px;
height: 35px;
background-image: url(../img/right.svg);
background-repeat: no-repeat;
background-size: contain;

		-webkit-animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(-10deg);
		}
		to {
				-webkit-transform: rotate(5deg);
		}
}



.light1-2{
top: 20%;
left: 20%;
position: absolute;
float: left;
display: inline-block;
width: 40px;
height: 40px;
background-image: url(../img/left.svg);
background-repeat: no-repeat;
background-size: contain;
transform:rotate(15deg);

-webkit-animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
from {
		-webkit-transform: rotate(-15deg);
}
to {
		-webkit-transform: rotate(100deg);
}
}

.light2-1{
top: 25%;
left: 45%;
position: absolute;
float: left;
display: inline-block;
width: 50px;
height: 50px;
background-image: url(../img/right.svg);
background-repeat: no-repeat;
background-size: contain;


-webkit-animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
from {
		-webkit-transform: rotate(10deg);
}
to {
		-webkit-transform: rotate(20deg);
}
}

.light2-2{
	top: 60%;
	left: 5%;
	position: absolute;
	float: left;
	display: inline-block;
	width: 60px;
	height: 60px;
	transform: rotateX(45deg);
	background-image: url(../img/left.svg);
	background-repeat: no-repeat;
	background-size: contain;

-webkit-animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
from {
		-webkit-transform: rotate(-4deg);
}
to {
		-webkit-transform: rotate(3deg);
}
}

.light3-1{
	top: 55%;
	left: 75%;
	position: absolute;
	float: left;
	display: inline-block;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	background-image: url(../img/right.svg);
	background-repeat: no-repeat;
	background-size: contain;

-webkit-animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
from {
		-webkit-transform: rotate(10deg);
}
to {
		-webkit-transform: rotate(20deg);
}
}

.light3-2{
	top: 80%;
	left: 55%;
	position: absolute;
	float: left;
	display: inline-block;
	width: 45px;
	height: 45px;
	transform: rotateX(45deg);
	background-image: url(../img/light-R.png);
	background-repeat: no-repeat;
	background-size: contain;

-webkit-animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
from {
		-webkit-transform: rotateY(-5deg);
}
to {
		-webkit-transform: rotateY(5deg);
}
}

.light4-1{
	top: 30%;
	left: 5%;
	position: absolute;
	float: left;
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(../img/left.svg);
	background-repeat: no-repeat;
	background-size: contain;

-webkit-animation: rotation 0.8s infinite linear;
}

@-webkit-keyframes rotation {
from {
		-webkit-transform: rotate(-5deg);
}
to {
		-webkit-transform: rotate(5deg);
}
}

.light4-2{
	top: 80%;
	left: 90%;
	position: absolute;
	float: left;
	display: inline-block;
	width: 80px;
	height: 80px;

	background-image: url(../img/right.svg);
	background-repeat: no-repeat;
	background-size: contain;

-webkit-animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
from {
		/* -webkit-transform: rotateY(10deg); */
}
to {
		-webkit-transform: rotate(20deg);
}
}

.mining{
	/* display: none; */
}

.show{
	display:block;
}



/* 22222 */
/* Autotext */
.container2{
	z-index: 99;
	color: #00FF45;
}

.letter-container{
	z-index: 999;
	filter: drop-shadow(8px 8px 10px rgba(0, 4, 4, 0.7));
	top: 0px;
	align-items: center;
	background-color: #FFDE00;
	width: 80vw;
	height: 47vw;
	margin: 0px auto;
}
