body {
  font-size:2vw;
  font-family:Menlo, monospace;
  background: black;
  margin:0;
  padding:0;
  font-family: proxima-nova,sans-serif;
  color: white;
}

.gird01 {
  opacity: 0.7;
  background: white;
  width:1px;
  height: 100vh;
  position: absolute;
left: 200px;
}

.gird02 {
  opacity: 0.7;
  background: white;
  width:1px;
  height: 100vh;
  position: absolute;
left: 700px;
}

.gird03 {
  opacity: 0.7;
  background: white;
  width:1px;
  height: 100vh;
  position: absolute;
left: 1200px;
}

.img-page01-1{
  position: absolute;
  left: 300px;
}
.img-page01-1.clicked{
  transform: scale(2);
}


#scrollMarker {
  position: absolute;
  left:10000px;
  width:10px;

  height:10px;
}
