html {
  /* scroll-snap-type: y mandatory;
  overscroll-behavior: none; */
  overflow: smooth;
  pointer-events: none;
  z-index: -999999999999;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: white;
}


 @media only screen and (max-width: 670px) {
  body {

  }

@media only screen and  (min-width: 601px) {
  .big {
    display:block;
  }
}

/* mobile version */
@media (max-width: 670px) {
  #mobile{
      display: block;
      pointer-events: none;
  }
    #desktop
     {
        display: none;
    }
    body {
        background: #0e0e0e;
        width: 100vw;
        height: 250vh;
        pointer-events: none;
    }

.container-m{
  width: 100vw;
  position: relative;
  overflow: hidden;
  z-index: -9999999;
  background: #0e0e0e;
  overflow: hidden;
  height: 250vh;
  z-index: -99999999999999999;
  pointer-events: none;
}





/* img */
/* img */
/* img */
/* img */
    .imgWrap-m{
    position: absolute;
    width: 50vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e0e0e;
    overflow: hidden;
    pointer-events: visible;
    pointer-events: visibleFill;
    }


    /* img 1*//* img 1*//* img 1*/
  .imgWrap1-m{
    top: 75vh;
    position: absolute;
    width: 50vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e0e0e;
    overflow: hidden;
    pointer-events: visible;
    pointer-events: visibleFill;
    z-index: 9999999;
  }

.Big-textm{
   margin: 0;
   line-height: 1.5;
   font-family: proxima-nova, sans-serif;
   font-size: 0.9rem;
   font-weight: 400;
   line-height: 1.6;
   color: #f0f0f0;
   pointer-events : none;
   transform: scale(.9);
}

.BigtextW1{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}

.BigtextW2{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW3{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW4{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW5{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW6{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW7{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW8{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW9{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW10{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}
.BigtextW11{
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  z-index: 9999987;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .7s all;
}

.imgWrap1-m:hover .BigtextW1{
transition: .7s all;
opacity: 1;
}
.imgWrap2-m:hover .BigtextW2{
transition: .7s all;
opacity: 1;
}
.imgWrap3-m:hover .BigtextW3{
transition: .7s all;
opacity: 1;
}
.imgWrap4-m:hover .BigtextW4{
transition: .7s all;
opacity: 1;
}
.imgWrap5-m:hover .BigtextW5{
transition: .7s all;
opacity: 1;
}
.imgWrap6-m:hover .BigtextW6{
transition: .7s all;
opacity: 1;
}
.imgWrap7-m:hover .BigtextW7{
transition: .7s all;
opacity: 1;
}
.imgWrap8-m:hover .BigtextW8{
transition: .7s all;
opacity: 1;
}
.imgWrap9-m:hover .BigtextW9{
transition: .7s all;
opacity: 1;
}
.imgWrap10-m:hover .BigtextW10{
transition: .7s all;
opacity: 1;
}
.imgWrap11-m:hover .BigtextW11{
transition: .7s all;
opacity: 1;
}
.imgWrap3-m:hover .BigtextW3{
transition: .7s all;
opacity: 1;
}
.imgWrap3-m:hover .BigtextW3{
transition: .7s all;
opacity: 1;
}



    /* img*/
    .imgWrap2-m{
    top: 75vh;
    left: 50%;
    }
    .img-m{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.25);
    position: absolute;
    background: #0e0e0e;
    }
    .img1-m{
    z-index: 99999;
    pointer-events: none;
    transform: scale(.05);
    }
    .img2-m{
    transform: scale(.04);
    }
    /* img 3*/
    .imgWrap3-m{
    top: 100vh;
    }
    .img3-m{
      transform: scale(.04);
    }
    /* img 4*/
    .imgWrap4-m{
    top: 100vh;
    left: 50%;
    z-index: 9999;
    }
    .img4-m{
    transform: scale(.07);
    }
    /* img 5*/
    .imgWrap5-m{
    top: 125vh;
    }
    .img5-m{
    transform: scale(.07);
    }
    /* img 6*/
    .imgWrap6-m{
    top: 125vh;
    left: 50%;
    }
    .img6-m{
    margin-top: 14.8px;
    transform: scale(.04);
    }
    /* img 7*/
    .imgWrap7-m{
    top: 150vh;
    }
    .img7-m{
    margin-top: -35px;
    transform: scale(.06);
    }
    /* img 8*/
    .imgWrap8-m{
    top: 150vh;
    left: 50%;
    }
    .img8-m{
    margin-top: 26px;
    transform: scale(.05);
    }

    /* img 9*/
    .imgWrap9-m{
    top: 175vh;
    }
    .img9-m{
    transform: scale(.08);
    }
    /* img 10*/
    .imgWrap10-m{
    top: 175vh;
    left: 50%;

    }
    .img10-m{
    transform: scale(.1);

    }  /* img 11*/
    .imgWrap11-m{
    top: 200vh;
    }
    .img11-m{
      transform: scale(.04);
    }
/* img end */
/* img end */
/* img end */
/* img end */



/* explanation start */
.textmmm{
  top: 1000px;
  width: 50vw;
  height: 25vh;
  background: #0e0e0e;
  position: absolute;
  z-index: 999;
  pointer-events : none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
  pointer-events: visible;
  pointer-events: visibleFill;
}
/* .textmmm1{
  top: 75vh;
  position: absolute;

} */

.textmmm2{
    top: 75vh;
    left: 50%;
}
.textmmm3{
    top: 100vh;
}
.textmmm4{
    top: 100vh;
    left: 50%;
}
.textmmm5{
    top: 125vh;
}
.textmmm6{
    top: 125vh;
    left: 50%;
}
.textmmm7{
    top: 150vh;
}
.textmmm8{
    top: 150vh;
    left: 50%;
}
.textmmm9{
    top: 175vh;
}
.textmmm10{
    top: 175vh;
    left: 50%;
}

.textmmm11{
    top: 200vh;
}


 .lightTextm{
  font-weight: 300;
  opacity: 0.6;
  padding-right:2px;
  position: relative;
}
 .TitleTextm{
  font-size: 1rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
}

/* text end */

.Aimg-Wrap-m{
  pointer-events: visible;
  pointer-events: visibleFill;
  position: absolute;
  width: 50vw;
  height: 25vh;
  top: 25vh;
  left: 0%;
  text-align: center;
  animation: intro 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.2);
  }

  .Aimg-m{
      height: 75%;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

  @-webkit-keyframes intro {
  0% {

    opacity: 0;
  }
  1% {

    opacity: 0;
  }


  100% {

    opacity: 1;
  }
  }


  /* X icon */
.menuWrap-m{
    top: 0;
    position: absolute;
    width: 50vw;
    height: 25vh;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    animation: fade-in 1s ease;
}
  .xwww{
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  transform-origin: center;
  transition: 0.7s ease-in-out;
  z-index: 99999999;
  pointer-events: visible;
  pointer-events: visibleFill;
  }
  .x-icon-m{
    margin: 0;
    height: 60px;
    width: 1.4px;
    position: relative;
    left: 50%;
    transition: 0.7s ease-in-out;
    background: white;
    transform-origin: center;
  }
  .x-icon-1-m{
  transform:rotate(-45deg);
  }
  .x-icon-2-m{
  transform:rotate(45deg);
  }
  .xwww:hover{
    /* transition: 0.7s ease-in-out; */
    transform: rotate(90deg);
  }
/* X icon END *//* X icon END *//* X icon END *//* X icon END */

/* qutation */
.qWrap-m{
    top: 0;
    position: absolute;
    width: 50vw;
    height: 25vh;
    left: 50%;
    top: 50vh;
    z-index: 99999999999;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center
    animation: intro 2s ease-in-out;
  }

  @-webkit-keyframes intro {
  0% {

    opacity: 0;
  }
  50% {

    opacity: 0;
  }


  100% {

    opacity: 1;
  }
  }
.quatation-m{
  top: 50vh;
  margin: 0;
  padding: 10px 20px 10px 30px;
  line-height: 1.5;
  font-size: .9rem;
  color: #f0f0f0;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: italic;
}
.artist-m{
  position: relative;
  top: 10px;
  font-size: .9rem;
  font-style: normal;
  float: right;
}

  /* scroll */
  .scroll-Wrap-m{
  position: absolute;
  width: 50vw;
  height: 25vh;
  top: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background:red; */
  }
  .scroll-text-m{
  z-index: 111;
  margin: 0;
  font-family: proxima-nova,sans-serif;
  font-weight: 300;
  font-size:.9rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  position: absolute;
  animation: slide-in-leftW 2s ease-in-out both;
  transform-origin: center;
  transform: scale(1);
  }
  .line-scroll-m{
  z-index: 99;
  position: absolute;
  height: 70px;
  width: 1.3px;
  background: rgba(255,255,255,.4);
  margin-top: 60px;
  animation: line 1.5s  1.5s infinite ease-in-out both;
  }
  .scroll-up-m{
  margin-top: -60px;
  animation: line-up 1.5s  1.5s infinite ease-in-out both;
  }
  /* scroll end */


  /* logo icon */
  .logo-Wrap-m{
  position: absolute;
  width: 50vw;
  height: 25vh;
  top: 0;
  animation: fade-in 1s ease;
  pointer-events: visible;
  pointer-events: visibleFill;
  }
  .logo-m{
  position: relative;
  z-index:1;
  width: 50vw;
  height: 25vh;
  transform-origin: center;
  transform: scale(.25);
  }
  .text-01-Wrap-m{
  width: 50vw;
  height: 25vh;
  position: absolute;
  top: 73%;
  left: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  animation: f222f 3s ease;
  justify-content: center
  }

  /* grid *//* grid *//* grid *//* grid *//* grid */
  .line-middle-m{
    z-index: 99999999999999999999999;
    width: 100vw;
    height: 1px;
    background: white;
    position: absolute;
    opacity:0.4;
    animation: scale-ho 1.4s .5s cubic-bezier(0.55,0.005,0.855,0.06) both;
  }
  .middle1-m{
  top: 25vh;
  }
  .middle2-m{
  top: 50vh;
  }
  .middle3-m{
  top: 75vh;
  }
  .middle4-m{
  top: 100vh;
  }
  .middle5-m{
  top: 125vh;
  }
  .middle6-m{
  top: 150vh;
  }
  .middle7-m{
  top: 175vh;
  z-index: 99999999999999999999999999;
  }
  .middle8-m{
  top: 200vh;
  z-index: 99999999999999999999999999;
  }
  .middle9-m{
  top: 225vh;
  z-index: 99999999999999999999999999;
  }
  .middle10-m{
  top: 250vh;
  z-index: 99999999999999999999999999;
  }

  .line-vertical-m{
  z-index: 99999999999999999999999999;
  opacity:0.4;
  width: 1px;
  height: 250vh;
  position: absolute;
  background: white;
  left: 50vw;
  animation: scale-ver 1.4s .5s cubic-bezier(0.55,0.005,0.855,0.06) both;
  }
  /* Grid line end *//* Grid line end */



/* text bottom */
.quatation-Wrap5m{
  height: 25vh;
  width: 50vw;
  position: absolute;
  left: 0;
  top: 225vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.quatation5m{
  overflow: hidden;
  margin: 0;
  position: absolute;
  line-height: 1.5;
  font-size: 1rem;
  color: #f0f0f0;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* copy*/
.copyright-Wrap{
    margin-top: -42px;
    position: absolute;
    width: 25vw;
    height: 50vh;
    left: 50%;
    top: 250vh;
    z-index: 99999;
    font-family: proxima-nova, sans-serif;
    background: #0e0e0e;
    z-index: 9999;
  }

.copyright-text-Wrap{
  height: 50vh;
  width: 25vw;
  font-size: 1rem;
  color: #f0f0f0;
  line-height: 1.5;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;

}
.copyright{
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 200px 40px 40px 40px;
}

/* copy*/
.copyright-Wrapm{
    margin-top: -42px;
    position: absolute;
    width: 50vw;
    height: 25vh;
    left: 50%;
    top: 225vh;
    z-index: 99999;
    font-family: proxima-nova, sans-serif;
    background: #0e0e0e;
    z-index: 9999;
  }

.copyright-Wrapm{
    font-size: .9rem;
    color: #f0f0f0;
    line-height: 1.5;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    height: 25vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.copyrightm{
    margin: 0;
}

















      /* Click- ANIMATION */
      /* Click- ANIMATION */
      /* Click- ANIMATION */


      .pageChangeAnimation #main-img{
        animation: bye .9s ease-in-out;
      }

      @-webkit-keyframes bye {
        0% {
                  transform: scale(1);
          opacity: 1;
        }
        100% {
                  transform: scale(0);
          opacity: 1;
        }
      }


      .pageChangeAnimation .scroll-Wrap{
          animation: move-left .75s cubic-bezier(0.755,0.05,0.855,0.06) both;
      }
      .pageChangeAnimation .text-01-Wrap{
        animation: move-right .75s cubic-bezier(0.755,0.05,0.855,0.06) both;
      }
      .pageChangeAnimation .menu-icon-Wrap{
        animation: move-right .75s cubic-bezier(0.755,0.05,0.855,0.06) both;
      }
      @keyframes move-left {
      0% {
                transform: translateX(0);
      }

      100% {
                transform: translateX(-500px);
      }
      }
      @keyframes move-right {
      0% {
                transform: translateX(0);
      }

      100% {
                transform: translateX(500px);
      }
      }


      @-webkit-keyframes intro2{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-bck{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@-webkit-keyframes fade-in-bl{0%{-webkit-transform:translateX(-50px) translateY(50px);transform:translateX(-50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-bl{0%{-webkit-transform:translateX(-50px) translateY(50px);transform:translateX(-50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes fade-in-br{0%{-webkit-transform:translateX(50px) translateY(50px);transform:translateX(50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-br{0%{-webkit-transform:translateX(50px) translateY(50px);transform:translateX(50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@-webkit-keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-in-tl{0%{-webkit-transform:translateX(-50px) translateY(-50px);transform:translateX(-50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-tl{0%{-webkit-transform:translateX(-50px) translateY(-50px);transform:translateX(-50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes fade-in-tr{0%{-webkit-transform:translateX(50px) translateY(-50px);transform:translateX(50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-tr{0%{-webkit-transform:translateX(50px) translateY(-50px);transform:translateX(50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
