html {
  /* scroll-snap-type: y mandatory;
  overscroll-behavior: none; */
  overflow: smooth;
  pointer-events: none;
  z-index: -999999999999;
}

a{
  text-decoration: none;
  color: white;
}


 @media only screen and (max-width: 670px) {
  body {

  }

@media only screen and  (min-width: 601px) {
  .big {
    display:block;
  }
}

/* mobile version */
@media (max-width: 670px) {
  #mobile{
      display: block;
      pointer-events: none;
  }
    #desktop
     {
        display: none;
    }
    body {
        background: #0e0e0e;
        width: 100vw;
        height: 250vh;
        pointer-events: none;
    }

.container-m{
  width: 100vw;
  position: relative;
  overflow: hidden;
  z-index: -9999999;
  background: #0e0e0e;
  overflow: hidden;
  height: 250vh;
  z-index: -99999999999999999;
  pointer-events: none;
}



.TakenobuW-m{
  position: absolute;
  width: 50vw;
  height: 25vh;
  left: 0%;
  top: 150vh;
  z-index: 99999999999;
  font-size: 2em;
  font-style: normal;

  /* background: red; */
}
.Takenobum{
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px 50px 10px 50px;
    line-height: 1.5;
    font-size: 1em;
color: #f0f0f0;
    /* font-family: proxima-nova-condensed, sans-serif; */
    font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: italic;
}

.bodyWm{
    position: absolute;
    width: 100vw;
    height: 50vh;
    left: 0vw;
    top: 175vh;
    z-index: 99999999999;
    font-size: 1.25em;
    background: #0e0e0e;
    display: flex;
align-items: center;
justify-content: center;
text-align: left;
border-top: 1px solid rgba(255,255,255,0.4);
border-bottom: 1px solid rgba(255,255,255,0.4);

}
.bodybody{
  margin: 0;
  /* background: yellow; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 0px 30px;
  line-height: 1.5;
  font-size: 1.12rem;
color: #f0f0f0;
  /* font-family: proxima-nova-condensed, sans-serif; */
  font-family: proxima-nova, sans-serif;
font-weight: 300;
/* font-style: italic; */
}


/* text bottom */
.quatation-Wrap5m{
  height: 25vh;
  width: 50vw;
  position: absolute;
  left: 0;
  top: 225vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.quatation5m{
  overflow: hidden;
  margin: 0;
  position: absolute;
  line-height: 1.5;
  font-size: 1rem;
  color: #f0f0f0;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* copy*/
.copyright-Wrap{
    margin-top: -42px;
    position: absolute;
    width: 25vw;
    height: 50vh;
    left: 50%;
    top: 250vh;
    z-index: 99999;
    font-family: proxima-nova, sans-serif;
    background: #0e0e0e;
    z-index: 9999;
  }

.copyright-text-Wrap{
  height: 50vh;
  width: 25vw;
  font-size: 1rem;
  color: #f0f0f0;
  line-height: 1.5;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;

}
.copyright{
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 200px 40px 40px 40px;
}

/* copy*/
.copyright-Wrapm{
    margin-top: -42px;
    position: absolute;
    width: 50vw;
    height: 25vh;
    left: 50%;
    top: 225vh;
    z-index: 99999;
    font-family: proxima-nova, sans-serif;
    background: #0e0e0e;
    z-index: 9999;
  }

.copyright-Wrapm{
    font-size: .9rem;
    color: #f0f0f0;
    line-height: 1.5;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    height: 25vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.copyrightm{
    margin: 0;
}

.quatation-Wrap4mm{
    position: absolute;
    width: 50vw;
    height: 25vh;
    left: 0vw;
    top: 150vh;
    z-index: 99999999999;
    font-size: 1.25em;
    text-align: center;
    font-family: proxima-nova, sans-serif;
font-weight: 400;
pointer-events: visible;
pointer-events: visibleFill;
font-style: normal;

display: flex;
 align-items: center;
 justify-content: center;
/* border-bottom:  solid 1px  rgba(255,255,255,0.4); */
}





.azWrapmm{
  width: 50vw;
  height: 25vh;
    position: absolute;
    left: 50%;
    top: 150vh;
    z-index: 99999999999;
    font-size: 1em;
    font-style: normal;
    pointer-events: visible;
    pointer-events: visibleFill;
    display: flex;
 align-items: center;
 justify-content: center;
    /* border-bottom:  solid 1px  rgba(255,255,255,0.4); */

}
.quatationmm{
pointer-events: visible;
pointer-events: visibleFill;
margin: 0;
position: absolute;

/* padding: 10px 50px 10px 50px; */
line-height: 1.5;
font-size: 1em;
color: #f0f0f0;
font-family: proxima-nova, sans-serif;
font-weight: 300;
text-align: center;
}
.quatationmm2{
pointer-events: visible;
pointer-events: visibleFill;
margin: 0;
position: absolute;
margin-top: 10px;
/* padding: 10px 50px 10px 50px; */
line-height: 1.5;
font-size: 1em;
color: #f0f0f0;
font-family: proxima-nova, sans-serif;
font-weight: 300;
text-align: center;
}
.azmm{
  font-size: 3rem;
  margin:0;
  text-align: center;
  pointer-events: visible;
  pointer-events: visibleFill;

}
.a3dmm{
  line-height: 1;
  text-align: center;
text-transform: uppercase;
  font-size: 1.15rem;
  top: -12px;
  position: relative;
  text-align: left;
  pointer-events: visible;
  pointer-events: visibleFill;
  text-align: center;
}

.closemm{
top: -30px;
text-align: left;
margin: 0;
font-size: .9em;
color: #f0f0f0;
font-family: proxima-nova, sans-serif;
font-weight: 300;
opacity: 0.7;
pointer-events: visible;
pointer-events: visibleFill;
line-height: 1.3;
position: relative;


text-align: center;

}




/* img */
.img-artistm{

  width: 100vw;
  height: 75vh;
/* background: red; */
display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #CDCDD1;
  top: 75vh;
  left: 0vw;
  z-index: 99999999999999999999999999;
  overflow: hidden;
  animation: intro2 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes intro2{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-bck{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@-webkit-keyframes fade-in-bl{0%{-webkit-transform:translateX(-50px) translateY(50px);transform:translateX(-50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-bl{0%{-webkit-transform:translateX(-50px) translateY(50px);transform:translateX(-50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes fade-in-br{0%{-webkit-transform:translateX(50px) translateY(50px);transform:translateX(50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-br{0%{-webkit-transform:translateX(50px) translateY(50px);transform:translateX(50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@-webkit-keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-in-tl{0%{-webkit-transform:translateX(-50px) translateY(-50px);transform:translateX(-50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-tl{0%{-webkit-transform:translateX(-50px) translateY(-50px);transform:translateX(-50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes fade-in-tr{0%{-webkit-transform:translateX(50px) translateY(-50px);transform:translateX(50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-tr{0%{-webkit-transform:translateX(50px) translateY(-50px);transform:translateX(50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.artistm{
 margin-left: -10px;
 margin-top: -190px;

 top: 10px;
 position: relative;
 /* transform:scale(.65); */
 z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}
/* img */



.Aimg-Wrap-m{
  pointer-events: visible;
  pointer-events: visibleFill;
  position: absolute;
  width: 50vw;
  height: 25vh;
  top: 25vh;
  left: 0%;
  text-align: center;
  animation: intro 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.2);
  }

  .Aimg-m{
      height: 75%;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

  @-webkit-keyframes intro {
  0% {

    opacity: 0;
  }
  1% {

    opacity: 0;
  }


  100% {

    opacity: 1;
  }
  }



.menuWrap-m{
    top: 0;
    position: absolute;
    width: 50vw;
    height: 25vh;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e0e0e;
    z-index: 9999;
    animation: fade-in 1s ease;

}

/* X icon */
  .xw{
    background: orange;
    width: 60px;
    height: 60px;
    position: relative;
    background: yellow;
    background: #0e0e0e;
    z-index: 9999;
    display: flex;
    align-items: center;
    transition: 0.7s ease-in-out;
    transform-origin: center;
    animation: intro 1.5 ease-in-out;

  }


  .xwww{
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  transform-origin: center;
  transition: 0.7s ease-in-out;
  /* background: yellow; */
  z-index: 99999999;
  pointer-events: visible;
  pointer-events: visibleFill;

  }
  .x-icon-m{
    margin: 0;
    height: 55px;
    width: 1.4px;
    position: absolute;
    left: 50%;
    transition: 0.7s ease-in-out;
    background: white;

  }
  .x-icon-1-m{
  transform:rotate(-45deg);
  transform-origin: center;

  }
  .x-icon-2-m{
  transform:rotate(45deg);
  transform-origin:center;

  }
  .xwww:hover{
    /* transition: 0.7s ease-in-out; */
    transform: rotate(90deg);
    transform-origin: center;
  }
/* X icon END *//* X icon END *//* X icon END *//* X icon END */

/* qutation */
.qWrap-m{
    top: 0;
    position: absolute;
    width: 50vw;
    height: 25vh;
    left: 50%;
    top: 50vh;
    z-index: 99999999999;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center
    animation: intro 2s ease-in-out;
  }

  @-webkit-keyframes intro {
  0% {

    opacity: 0;
  }
  50% {

    opacity: 0;
  }


  100% {

    opacity: 1;
  }
  }


.quatation-m{
  top: 50vh;
  margin: 0;
  padding: 10px 20px 10px 30px;
  line-height: 1.5;
  font-size: .9rem;
  color: #f0f0f0;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: italic;
}
.artist-m{
  position: relative;
  top: 10px;
  font-size: .9rem;
  font-style: normal;
  float: right;
}

  /* scroll */
  .scroll-Wrap-m{
  position: absolute;
  width: 50vw;
  height: 25vh;
  top: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background:red; */
  }
  .scroll-text-m{
  z-index: 111;
  margin: 0;
  font-family: proxima-nova,sans-serif;
  font-weight: 300;
  font-size:.9rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  position: absolute;
  animation: slide-in-leftW 2s ease-in-out both;
  transform-origin: center;
  transform: scale(1);
  }
  .line-scroll-m{
  z-index: 99;
  position: absolute;
  height: 70px;
  width: 1.3px;
  background: rgba(255,255,255,.4);
  margin-top: 60px;
  animation: line 1.5s  1.5s infinite ease-in-out both;
  }
  .scroll-up-m{
  margin-top: -60px;
  animation: line-up 1.5s  1.5s infinite ease-in-out both;
  }
  /* scroll end */


  /* logo icon */
  .logo-Wrap-m{
  position: absolute;
  width: 50vw;
  height: 25vh;
  top: 0;
  animation: fade-in 1s ease;
  pointer-events: visible;
  pointer-events: visibleFill;
  }
  .logo-m{
  position: relative;
  z-index:1;
  width: 50vw;
  height: 25vh;
  transform-origin: center;
  transform: scale(.25);
  }
  .text-01-Wrap-m{
  width: 50vw;
  height: 25vh;
  position: absolute;
  top: 73%;
  left: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  animation: f222f 3s ease;
  justify-content: center
  }

  /* grid *//* grid *//* grid *//* grid *//* grid */
  .line-middle-m{
    z-index: 9999;
    width: 100vw;
    height: 1px;
    background: white;
    position: absolute;
    opacity:0.4;
    animation: scale-ho 1.4s .5s cubic-bezier(0.55,0.005,0.855,0.06) both;
  }
  .middle1-m{
  top: 25vh;
  }
  .middle2-m{
  top: 50vh;
  }
  .middle3-m{
  top: 75vh;
  }
  .middle4-m{
  top: 100vh;
  }
  .middle5-m{
  top: 125vh;
  }
  .middle6-m{
  top: 150vh;
  }
  .middle7-m{
  top: 175vh;
  z-index: 9999;
  }
  .middle8-m{
  top: 200vh;
  z-index: 999999999;
  }
  .middle9-m{
  top: 225vh;
  z-index: 99999999;
  }
  .middle10-m{
  top: 250vh;
  z-index: 9999999;
  }

  .line-vertical-m{
  z-index: 99999999;
  opacity:0.4;
  width: 1px;
  height: 250vh;
  position: absolute;
  background: white;
  left: 50vw;
  animation: scale-ver 1.4s .5s cubic-bezier(0.55,0.005,0.855,0.06) both;
  }
  /* Grid line end *//* Grid line end */





















      /* Click- ANIMATION */
      /* Click- ANIMATION */
      /* Click- ANIMATION */


      .pageChangeAnimation #main-img{
        animation: bye .9s ease-in-out;
      }

      @-webkit-keyframes bye {
        0% {
                  transform: scale(1);
          opacity: 1;
        }
        100% {
                  transform: scale(0);
          opacity: 1;
        }
      }


      .pageChangeAnimation .scroll-Wrap{
          animation: move-left .75s cubic-bezier(0.755,0.05,0.855,0.06) both;
      }
      .pageChangeAnimation .text-01-Wrap{
        animation: move-right .75s cubic-bezier(0.755,0.05,0.855,0.06) both;
      }
      .pageChangeAnimation .menu-icon-Wrap{
        animation: move-right .75s cubic-bezier(0.755,0.05,0.855,0.06) both;
      }
      @keyframes move-left {
      0% {
                transform: translateX(0);
      }

      100% {
                transform: translateX(-500px);
      }
      }
      @keyframes move-right {
      0% {
                transform: translateX(0);
      }

      100% {
                transform: translateX(500px);
      }
      }


      @-webkit-keyframes intro2{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-bck{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@-webkit-keyframes fade-in-bl{0%{-webkit-transform:translateX(-50px) translateY(50px);transform:translateX(-50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-bl{0%{-webkit-transform:translateX(-50px) translateY(50px);transform:translateX(-50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes fade-in-br{0%{-webkit-transform:translateX(50px) translateY(50px);transform:translateX(50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-br{0%{-webkit-transform:translateX(50px) translateY(50px);transform:translateX(50px) translateY(50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@-webkit-keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-in-tl{0%{-webkit-transform:translateX(-50px) translateY(-50px);transform:translateX(-50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-tl{0%{-webkit-transform:translateX(-50px) translateY(-50px);transform:translateX(-50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes fade-in-tr{0%{-webkit-transform:translateX(50px) translateY(-50px);transform:translateX(50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-tr{0%{-webkit-transform:translateX(50px) translateY(-50px);transform:translateX(50px) translateY(-50px);opacity:0}100%{-webkit-transform:translateX(0) translateY(0);transform:translateX(0) translateY(0);opacity:1}}@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
